{% extends 'basic/base.html' %}
{% block title %}
    News
{% endblock %}

{% block body %}
	<div class="uk-container">
 		<div class="uk-card uk-card-default uk-margin-medium-top">
    		{% if info %}
                <div class="uk-card-header">
                    <h2 class="uk-card-title uk-margin-remove-bottom">{{ info.title }}</h2>
                    <p class="uk-text-meta uk-margin-remove-top uk-text-right"><time datetime="2016-04-01T19:00">{{ info.get_start_date }}</time></p>
                </div>
                <div class="uk-card-body">
                    {% if info.description is not None %}
        				<p>{{ info.description | safe }}</p>
        		    {% endif %}
                </div>
            {% else %}
        		<h1>No Such News present</h1>
    		{% endif %}
    	</div>
    </div>
{% endblock %}
