.nav-a {
    color: rgba(255,255,255,.9) !important;
}

.nav-a-dark {
    color: #000 !important;
}

.dashboard-card {
    box-shadow: 0 0 6px lightgray;
    width: 90%;
    left: 5%;
    right: 5%;
    margin-top: 20px;
}

.dashboard-cards {
    max-width: 100%;
    margin-top: 20px;
}

.academic-cards {
    width: 92%;
    margin-left: 4%;
}

@media (max-width: 640px) {
    .academic-cards {
        width: 95%;
        margin-left: 0;
    }
}

.uk-first-column {
    padding: 0 !important;
}

.add-btn {
    background: #3eb13e !important;
}

.edit-btn {
    background: #f9a825 !important;
}

.add-edit-wrapper {
    margin-top: 20px;
}

.form-card {
    width: 80%;
    left: 10%;
    right: 10%;
}

.uk-navbar-container{
    box-shadow: 0 0 10px black;
}

.ane-list-actions {
    width: 45%;
    box-shadow: 0 0 2px gray;
}

.recent-ane-table {
    box-shadow: 0 0 2px gray;
}

.recent-ane-actions {
    box-shadow: 0 0 1px grey;
}

.recent-ane-table-title{
    width: 80%;
}
