.nav-bar {
	position: relative;
	z-index: 980;
	height: 50px;
}

.nav-a {
	height: 50px !important;
}

#header {
	display: inline-flex;
	width: 100%;
	background: white !important;
	box-shadow: 0 0 5px black;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 0;
}

.uk-grid {
	margin-right: 0!important;
}

/* NAV */
.college-logo {
	margin-left: 3px;
}

.college-logo .name {
	margin-top: 10px;
	margin-right: -4px;
	margin-left: 7px;
	margin-bottom: 0;
}

.uk-sticky-below .logo{
	width: 65px;
}

.uk-sticky-below #college-name {
	font-size: 15px !important;
}

.uk-sticky-below nav {
	align-self: center;
}

.logo-name {
	display: inline-flex;
}

.uk-offcanvas-content {
	display: none;
}

nav {
	width: 70%;
	background: white !important;
	align-self: center;
}

.uk-navbar-nav>li>a:hover {
    color: #FFF !important;
	background: #777373;
}

.uk-dropdown-nav>li>a:hover {
    color: #F44336 !important;
}

/* Footer */
#contact-us {
	display: inline-flex;
}

#contact-us-gmaps {
	margin-right: 5px;
	background: white;
	border: 1px solid black;
	color: red;
}

#contact-us-facebook {
	background: #3b5998;
	color: white;
}

#contact-us-phone {
	background: rgb(15,108,107);
	color: white;
}

#contact-us-linkedin {
	background: #0077B5;
	color: white;
}

#contact-us-github{
	background: #333;
	color: white;
}

.footer-wrapper {
	background: #424242;
	color: #ECEFF1;
	position: relative;
	bottom: 0;
	width: 100%;
	box-shadow: 0 0 8px #060606;
	align-items: center;
	height: auto;
}

footer {
	flex-shrink: 0;
}

/* Carousel */
.carousel-and-announcements-grid, .index-announcement-card {
    background: #e9ebee;
    color: black;
}

.carousel-img {
	height: 460px !important;
}

.carousel-img-details {
	box-shadow: 0 0 5px black;
}

.college-logo {
	width: 30%;
}

/* 3rd row*/
.index-3row-card:hover {
	box-shadow: 0 0 10px rgba(33,33,33,.2) !important;
    transition: box-shadow 0.3s ease-in-out;
}

/* Announcements*/
.index-announcement-card, .index-3row-card  {
	height: 100%;
}

/* Event card */
.event-li {
	display: inline-flex;
	width: 100%;
}

.event-date {
	min-width: 70px;
	border: 2px solid #232353;
	border-radius: 50px;
	font-size: 15px;
	color: #232353;
}

.index-event-title {
	align-self: center;
}

/*Color*/
.text-black {
	color: black !important;
}

.uk-navbar-nav li a {
	color: black !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    background: linear-gradient(to right, rgb(95, 134, 224) 0%, rgb(31, 184, 212) 100%);
    /*background: linear-gradient(to right, rgb(27, 183, 199) 0%, rgb(39, 2, 100) 100%);*/
    padding-bottom: 50px;
    color: #FFF8E1;
    min-height: 50vh;
	font-weight: 400;
    flex: 1;
}

.index-card-heading:hover {
    color: #F44336 !important;
}

index-announcement-card a:hover, .index-3row-card a:hover {
	color: black !important;
}

.widget-container {
    background: linear-gradient(141deg, #2388b0, #3ac);
    color: rgba(255,255,255,1);
	box-shadow: 0 0 5px black!important;
    border-radius: 10px;
}

.uk-card {
    border-radius: 10px;
}

.th-with-background {
    background: #138ec5 !important;
    color: white !important;
}

/*Course*/
.course-accordion {
    padding: 3px 3px 3px 3px;
    background: #e6dcdc9e;
    border-radius: 8px;
    box-shadow: 0 0 2px slategrey;
}

/* Media queries */
@media (max-width: 960px) {
	.carousel-img {
		height: 250px !important;
	}

    nav {
		display: none!important;
	}

	.college-logo {
		width: 85%;
	}

	.uk-offcanvas-content {
		display: block;
	}

	.footer-wrapper {
		height: auto;
	}

    .site-content {
        background: rgb(4, 146, 161);
    }
}

@media (max-width: 550px) {
	#college-name {
		font-size: 14px !important;
	}

	#inp-slogan {
		font-size: 10px !important;
	}
}
