.nav-bar {
	position: relative;
	z-index: 980;
	height: 50px;
}

.nav-a {
	height: 50px !important;
}

#header {
	display: inline-flex;
	width: 100%;
	background: white !important;
	box-shadow: 0 0 5px grey;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
}

.college-logo {
	width: 30%;
}

.college-logo .name {
	margin-top: 10px;
	margin-right: -4px;
	margin-left: 7px;
	margin-bottom: 0;
}

.logo-name {
	display: inline-flex;
}

.uk-offcanvas-content {
	display: none;
}

nav {
	width: 70%;
	background: white !important;
}

@media (max-width: 640px) {
    nav {
		display: none!important;
	}

	.college-logo {
		width: 85%;
	}

	.uk-offcanvas-content {
		display: block;
	}
}

.uk-navbar-nav li a {
	color: black !important;
}

.site-content {
	margin-top: 5px;
}