appdirs==1.4.3
asgiref==3.2.7
attrs==19.3.0
backcall==0.2.0
bleach==3.1.5
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
colorclass==2.2.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.6
django-package-monitor==0.6.1
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
idna==2.10
ipykernel==5.3.3
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.0.3
numpy==1.19.1
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
Pillow==7.2.0
pip-upgrader==1.4.15
prometheus-client==0.8.0
prompt-toolkit==3.0.5
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pywinpty==0.5.7
pyzmq==19.0.1
qtconsole==4.7.5
QtPy==1.9.0
requests==2.24.0
requirements-parser==0.1.0
scikit-learn==0.23.2
scipy==1.5.2
semantic-version==2.8.5
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
sqlparse==0.3.1
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.10
virtualenv==20.0.16
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
