{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | M.Tech. CSE
{% endblock %}
{% load staticfiles %}
{% block body %}
<!-- Content wrapper -->
<div class="contents-wrapper">
    <!-- Contents starts here -->
    <div class="contents">
        <h2>Master of Technology - Computer Science and Engineering</h2>
        <br><br>
        <p>
            <b>M.Tech. in Computer Science & Engineering</b> program is designed such that the students can complete
            it based on advanced coursework along with minor and a major project. The students interested to pursue
            a research oriented career are provided with an option to take up thesis work for a year in place of
            projects.
        </p>
        <p>
            The first semester of program is aimed at laying down the foundations necessary for the computer science
            discipline. It gives students an opportunity to tune into the instructional philosophy and pedagogy of
            learning at IIIT, Vadodara. Subsequent semesters provide avenues for specializing in one or more areas
            of computer science such as:
        </p>
        <b>(a) Computer Vision, Graphics and Multimedia</b>
        <p>
            The fields of graphics, vision and imaging increasingly rely on one another. This specialization
            provides training in computer graphics, computer vision, geometric processing and multimedia, enabling
            students to specialize in any of these areas and gain a grounding in the others.
        </p>
        <p>
            Graduates will learn the basic mathematical principles underlying the development and application of new
            techniques in computer graphics and computer vision and will be aware of the range of algorithms and
            approaches available, and be able to design, develop and evaluate algorithms and methods for new
            problems, emerging technologies and applications.
        </p>
        <br/>
        <b>(b) Data Analytics</b>
        <p>
            It is an interdisciplinary specialization designed to meet the huge manpower shortage in the area of
            data analytics. The specialization trains students in computational techniques and systems to draw
            insights from data in a variety of application domains.
        </p>
        <br/>
        <b>(c) Signal and Information Processing</b>
        <p>
            The program has been specially designed to meet the increasing need of professionals who would be able
            to respond to the needs of modern day signal and data processing/analysis tasks. It is meant for
            students who wish to build a professional career oriented towards research and development, working at
            the cutting edge of technology in the area of Signal and Information Processing. The curriculum is
            developed keeping in view the convergence of signal and information processing paradigm with data
            analytics. It is a step forward towards data processing and analysis for signal processing background
            students.
        </p>
        <br/>
        <br/>
        <a href="{% static 'basic/pdf/mtech_program_structure.pdf' %}" target="_blank"><b>AC Approved Curriculum for M.Tech. CSE</b></a>
    </div>
</div>
{% endblock %}
