{% extends 'dashboard.html' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    <div class="add-edit-wrapper">
        {% if msg %}
            <h3 class="uk-text-success uk-text-center">{{ msg }}</h3>
        {% endif %}
         <div class="form-card uk-card uk-card-default uk-card-body">
            <table class="uk-table uk-table-hover uk-table-divider">
                <thead>
                    <tr>
                        <th class="uk-width-small">Start Date</th>
                        <th class="uk-width-small">End Date</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.start_date }}</td>
                            <td>{{ item.end_date }}</td>
                            <td><a href="{{ item.get_url }}">{{ item.title }}</a></td>
                            <td>
                                <a class="uk-button edit-btn ane-list-actions uk-button-default" uk-icon="icon: pencil" href="{% url 'dashboard:ane_edit' data_type item.pk %}"></a>
                                <a class="uk-button ane-list-actions uk-button-danger" uk-icon="icon: trash" href="{% url 'dashboard:ane_delete' data_type item.pk %}"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
