{% extends 'dashboard.html' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    <div class="add-edit-wrapper">
         <div class="form-card uk-card uk-card-default uk-card-body">
            <form class="entry-input-form" action="#" method="post">
                {% csrf_token %}
                <table class="uk-table uk-table-hover uk-table-divider">
                    <thead>
                        <tr>
                            <th class="uk-width-small">Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ form.old_password.label }}</td>
                            {% load widget_tweaks %}
                            <td>{{ form.old_password|attr:"class:uk-input" }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password1.label }}</td>
                            {% load widget_tweaks %}
                            <td>{{ form.new_password1|attr:"class:uk-input" }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.label }}</td>
                            {% load widget_tweaks %}
                            <td>{{ form.new_password2|attr:"class:uk-input" }}</td>
                        </tr>
                        {% if form.errors %}
                            <tr>
                                <td class="uk-text-danger uk-text-bold">Errors</td>
                                <td class="uk-text-danger uk-text-bold">{{ form.start_date.errors }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <input class="entry-input-submit-button uk-button-primary uk-width-1-1 uk-button" type="submit" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}
