<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>
            Dashboard
        </title>
    {% endblock %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/uikit.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/uikit-rtl.min.css' %}">
    <script src="{% static 'basic/js/main.js' %}"></script>
    <script src="{% static 'basic/js/uikit.min.js' %}"></script>
    <script src="{% static 'basic/js/uikit-icons.min.js' %}"></script>
</head>
<body>
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980; background: rgb(15,108,107); color: white;">
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a class="nav-a uk-button uk-button-secondary" href="{% url 'dashboard:dashboard' %}">
                        {% if user.is_authenticated %}
                            <span uk-icon="home"></span>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a class="nav-a" href="#">Operations</a>
                    <div class="uk-navbar-dropdown" uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a class="nav-a-dark" href="#">Edit Profile</a></li>
                            <li><a class="nav-a-dark" href="#">Change Password</a></li>
                            <li><a class="nav-a-dark" href="#">Add User</a></li>
                        </ul>
                    </div>
                </li>
                <li><a class="nav-a" href="#">Other Link</a></li>
            </ul>

        </div>
        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                {% if user.is_authenticated %}
                    <li><a class="nav-a uk-button uk-button-secondary" href="{% url 'logout' %}"><span uk-icon="icon: sign-out; ratio: 2"></span>Logout</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>
    </div>
    {% block body %}
        <div class="dashboard-cards ">
            <div class="uk-card dashboard-card uk-card-hover uk-card-body">
                <a class="uk-link-heading" href="{% url 'dashboard:ane_list' 'announcements' %}">
                    <h3 class="uk-card-title">Announcements</h3>
                </a>
                <p>Recently added events</p>
                <a class="add-btn uk-button uk-button-primary" href="{% url 'dashboard:add_data' 'announcements'%}">Add</a>
                <a class="edit-btn uk-button uk-button-primary" href="#">Edit/Delete</a>
            </div>
            <div class="uk-card dashboard-card uk-card-hover uk-card-body">
                <a class="uk-link-heading" href="{% url 'dashboard:ane_list' 'events' %}">
                    <h3 class="uk-card-title">Events</h3>
                </a>
                <p>Recently added news</p>
                <a class="add-btn uk-button uk-button-primary" href="{% url 'dashboard:add_data' 'events'%}">Add</a>
                <a class="edit-btn uk-button uk-button-primary" href="#">Edit/Delete</a>
            </div>
            <div class="uk-card dashboard-card uk-card-hover uk-card-body">
                <a class="uk-link-heading" href="{% url 'dashboard:ane_list' 'news' %}">
                    <h3 class="uk-card-title">News</h3>
                </a>
                <p>Recently added news</p>
                <a class="add-btn uk-button uk-button-primary" href="{% url 'dashboard:add_data' 'news'%}">Add</a>
                <a class="edit-btn uk-button uk-button-danger" href="#">Edit/Delete</a>
            </div>
        </div>

    {% endblock %}
</body>
</html>