<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>
            Dashboard
        </title>
    {% endblock %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/uikit.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/uikit-rtl.min.css' %}">
    <script src="{% static 'basic/js/main.js' %}"></script>
    <script src="{% static 'basic/js/uikit.min.js' %}"></script>
    <script src="{% static 'basic/js/uikit-icons.min.js' %}"></script>
</head>
<body>
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980; background: rgb(15,108,107); color: white;">
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a class="nav-a uk-button uk-button-secondary" href="{% url 'index-view' %}">
                        <span uk-icon="home"></span>
                    </a>
                </li>
                <li class="uk-active">
                    {% if user.is_authenticated %}
                        <a class="nav-a uk-button uk-button-secondary" href="{% url 'dashboard:dashboard' %}">
                            <span uk-icon="grid"></span>
                        </a>
                    {% endif %}
                </li>
                {% if user.is_superuser %}
                    <li>
                        <a class="nav-a" href="#">Operations</a>
                        <div class="uk-navbar-dropdown" uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a class="nav-a-dark" href="{% url 'dashboard:update_profile' %}">Edit Profile</a></li>
                                <li><a class="nav-a-dark" href="{% url 'dashboard:change_password' %}">Change Password</a></li>
                                <li><a class="nav-a-dark" href="{% url 'dashboard:create_new_user' %}">Add a new user</a></li>
                                <li><a class="nav-a-dark" href="{% url 'dashboard:all_users' 'Users'%}">Users</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="nav-a" href="#">Academic operations</a>
                        <div class="uk-navbar-dropdown" uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a class="nav-a-dark" href="#">Programmes</a></li>
                                <li><a class="nav-a-dark" href="#">Courses</a></li>
                                <li><a class="nav-a-dark" href="#">Add a new Programme</a></li>
                                <li><a class="nav-a-dark" href="#">Add a new Course</a></li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
            </ul>

        </div>
        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                {% if user.is_authenticated %}
                    <li><a class="nav-a uk-button uk-button-secondary" href="{% url 'logout' %}"><span uk-icon="icon: sign-out; ratio: 2"></span>Logout</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>
    </div>
    {% block body %}
        <div class="profile-card-dashboard">
             <div class="uk-card uk-card-hover dashboard-card uk-card-body">
                 <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <img class="uk-border-circle" width="100" height="100" src="{% static user.people.photo %}">
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.people }}</h3>
                            <p class="uk-text-meta uk-margin-remove-top">{{ user.people.get_status_display }}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body" style="display: inline-flex;">
                    <div class="profile-card-dashboard-details" style="margin-left: 5px;">
                        <h4 style="margin: 0;">{{ user.people.academic_highlights }}</h4>
                        <h4 style="margin: 0;">Office : {{ user.people.office }}</h4>
                        <h4 style="margin: 0;">E-mail : {{ user.people.email }}</h4>
                     </div>
                </div>
                <div class="uk-card-footer">
                    <a href="{% url 'dashboard:update_profile' %}" class="uk-icon-button uk-button-secondary" uk-icon="icon: file-edit"></a>
                    <a href="{{ user.people.get_url }}" class="uk-button uk-button-text">Read more</a>
                </div>
            </div>
        </div>
        {% if user.is_superuser %}
            <div class="dashboard-cards">
            <div class="uk-card dashboard-card uk-card-hover uk-card-body">
                <a class="uk-link-heading" href="{% url 'dashboard:ane_list' 'announcements' 'Announcements' %}">
                    <h3 class="uk-card-title">Announcements</h3>
                </a>
                {% if recent_announcements %}
                    <p>Recent announcements</p>
                    <table class="uk-table recent-ane-table uk-table-divider uk-table-striped uk-table-hover">
                        {% for recent_announcement in recent_announcements %}
                            <tr>
                                <td class="recent-ane-table-title">
                                    <a class="uk-text-bold" href="{{ recent_announcement.get_url }}">{{ recent_announcement.title }}</a>
                                </td>
                                <td>
                                    <div class="uk-button-group">
                                        <a class="uk-button recent-ane-actions edit-btn uk-button-default" uk-icon="icon: pencil" href="{% url 'dashboard:ane_edit' 'announcements' recent_announcement.pk %}"></a>
                                        <a class="uk-button recent-ane-actions uk-button-danger" uk-icon="icon:trash" href="{% url 'dashboard:ane_delete' 'announcements' recent_announcement.pk %}"></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No recent activity</p>
                {% endif %}
                <br>
                <div class="uk-button-group uk-width-1-1">
                    <a class="add-btn uk-button uk-button-primary uk-width-1-2" href="{% url 'dashboard:add_data' 'announcements'%}">Add new announcement</a>
                    <a class="edit-btn uk-button uk-button-primary uk-width-1-2" href="{% url 'dashboard:ane_list' 'announcements' 'Announcements' %}">Edit/Delete announcements</a>
                </div>
            </div>
            <div class="uk-card dashboard-card uk-card-hover uk-card-body">
                <a class="uk-link-heading" href="{% url 'dashboard:ane_list' 'events' 'Events' %}">
                    <h3 class="uk-card-title">Events</h3>
                </a>
                {% if recent_events %}
                    <p>Recent events</p>
                    <table class="uk-table recent-ane-table uk-table-divider uk-table-striped uk-table-hover">
                        {% for recent_event in recent_events %}
                            <tr>
                                <td class="recent-ane-table-title">
                                    <a class="uk-text-bold" href="{{ recent_event.get_url }}">{{ recent_event.title }}</a>
                                </td>
                                <td>
                                    <div class="uk-button-group">
                                        <a class="uk-button recent-ane-actions edit-btn uk-button-default" uk-icon="icon: pencil" href="{% url 'dashboard:ane_edit' 'events' recent_event.pk %}"></a>
                                        <a class="uk-button recent-ane-actions uk-button-danger" uk-icon="icon:trash" href="{% url 'dashboard:ane_delete' 'events' recent_event.pk %}"></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No recent activity</p>
                {% endif %}
                <br>
                <div class="uk-button-group uk-width-1-1">
                    <a class="add-btn uk-button uk-button-primary uk-width-1-2" href="{% url 'dashboard:add_data' 'events'%}">Add new event</a>
                    <a class="edit-btn uk-button uk-button-primary uk-width-1-2" href="{% url 'dashboard:ane_list' 'events' 'Events' %}">Edit/Delete events</a>
                </div>
            </div>
            <div class="uk-card dashboard-card uk-card-hover uk-card-body">
                <a class="uk-link-heading" href="{% url 'dashboard:ane_list' 'news' 'News' %}">
                    <h3 class="uk-card-title">News</h3>
                </a>
                {% if recent_announcements %}
                    <p>Recent News</p>
                    <table class="uk-table recent-ane-table uk-table-divider uk-table-striped uk-table-hover">
                        {% for recent_news_item in recent_news%}
                            <tr>
                                <td class="recent-ane-table-title">
                                    <a class="uk-text-bold" href="{{ recent_news_item.get_url }}">{{ recent_news_item.title }}</a>
                                </td>
                                <td>
                                    <div class="uk-button-group">
                                        <a class="uk-button recent-ane-actions edit-btn uk-button-default" uk-icon="icon: pencil" href="{% url 'dashboard:ane_edit' 'news' recent_news_item.pk %}"></a>
                                        <a class="uk-button recent-ane-actions uk-button-danger" uk-icon="icon:trash" href="{% url 'dashboard:ane_delete' 'news' recent_news_item.pk %}"></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No recent activity</p>
                {% endif %}
                <br>
                <div class="uk-button-group uk-width-1-1">
                    <a class="add-btn uk-button uk-button-primary uk-width-1-2" href="{% url 'dashboard:add_data' 'news'%}">Add new news</a>
                    <a class="edit-btn uk-button uk-button-primary uk-width-1-2" href="{% url 'dashboard:ane_list' 'news' 'News' %}">Edit/Delete news</a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endblock %}
</body>
</html>