
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to IIIT Vadodara{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{% static 'basic/images/IIITV_Logo_1x1_small.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/style.css' %}">
</head>
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'basic/js/jquery.paginate.min.js' %}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/434d359724.js"></script>
<script src="{% static 'basic/js/main.js' %}"></script>
<body id="home">
<!-- Start Your Body Code From here -->
<div class="wrapper">
    <!-- header starts here -->
    <header id="header" class="">
        <!-- header -->
        <div class="header-wrapper">
            <div class="header-container">
                <div>
                    <div class="logo-name">
                        <div class="logo">
                            <a href="{% url 'index-view' %}" title="">
                                <img src="{% static 'basic/images/IIITV_Logo_1x1_small.png' %}" alt="logo">
                            </a>
                        </div>
                        <div class="name">
                            <a href="{% url 'index-view' %}" title="">
                                <h5>Indian Institute of Information Technology</h5>
                                <h5 class="primary-color">Vadodara</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-links">
                    <a href="#" data-toggle="popover" title="Address"
                       data-content="c/o Block No.9 (IC Department), Government Engineering College, Sector-28, Gandhinagar, Gujarat - 382028"
                       data-placement="bottom"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></a>

                    <a href="#" data-toggle="popover" title="Phone No." data-content="+91-79-29750281"
                       data-placement="bottom"><i class="fa fa-phone fa-lg" aria-hidden="true"></i></a>

                    <a href="#" data-toggle="popover" title="Email" data-content="helpdesk@iiitvadodara.ac.in"
                       data-placement="bottom"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <nav>
            <div class="navbar navbar-inverse navbar-custom" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Institute <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="/institute/about.html">About</a></li>
                                    <li><a href="/institute/directors_message.html">Director's Message</a></li>
                                    <li><a href="/institute/bog.html">Board of Governors</a></li>
                                    <li><a href="/institute/society_members.html">Society Members</a></li>
                                    <li><a href="/institute/senate.html">Senate</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Committees</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'institute:finance' %}">Finance Committee</a></li>
                                            <li><a href="{% url 'institute:strategic-planning' %}">Strategic Planning Committee</a></li>
                                            <li><a href="{% url 'institute:hr-planning' %}">HR Planning Committee</a></li>
                                            <li><a href="{% url 'institute:building-works' %}">Building And Works Committee</a></li>
                                            <li><a href="{% url 'institute:research-council' %}">Research Council</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/institute/rti.html">RTI</a></li>
                                    <li><a href="{% static 'basic/pdf/MOU.pdf' %}">MOU</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Linkages</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/institute/linkages/da-iict.html">DA-IICT</a></li>
                                            <li><a href="/institute/linkages/gsfc.html">GSFC</a></li>
                                            <li><a href="/institute/linkages/germi.html">GERMI</a></li>
                                            <li><a href="/institute/linkages/tcs.html">TCS</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">B.Tech</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/academic/btech/btech_cse.html">CSE</a></li>
                                            <li><a href="/academic/btech/btech_it.html">IT</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">M.Tech</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/academic/mtech/mtech_cse.html">CSE</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/academic/phd.html">Ph.D</a></li>
                                    <li><a href="{% static 'basic/pdf/Academic_Calendar.pdf' %}">Academic Calender</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admission <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="/admission/btech_admission.html" >B.Tech</a></li>
                                    <li><a href="/admission/mtech_admission.html" target="_blank">M.Tech</a></li>
                                    <li><a href="/admission/phd_admission.html" target="_blank">Ph.D</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">People <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="{% url 'people:administration' %}">Administration</a></li>
                                    <li><a href="{% url 'people:faculty' %}">Faculty</a></li>
                                    <li><a href="{% url 'people:visiting_faculty' %}">Visiting Faculty</a></li>
                                    <li><a href="{% url 'people:staff' %}">Staff</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="/more/faq.html">FAQs</a></li>
                                    <li><a href="/more/hostel.html">Hostel</a></li>
                                    <li><a href="/more/student_corner.html">Student's Corner</a></li>
                                    <li><a href="http://moodle.iiitv.ac.in" target="_blank">Moodle</a></li>
                                    <li><a href="/more/library.html">Library</a></li>
                                    <li><a href="/more/invited_talks.html">Invited Talks</a></li>
                                    <li><a href="https://sites.google.com/iiitvadodara.ac.in/placements/home" target="_blank">Placement</a></li>
                                </ul>
                            </li>

                            <li><a href="/careers/careers.html">Career</a></li>
                            <li><a href="/gallery/">Photo Gallery</a></li>

                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </nav>
    </header>
    <!-- /header -->
    <div class="Site-content">
    {% block body %}

    {% endblock %}
    </div>
    <!-- Footer -->
    <footer>
        <div class="footer-wrapper">
            <span class="logo"><img src="{% static 'basic/images/IIITV_Logo_1x1_small.png' %}" alt="Logo"></span>
            <div class="row">
                <div class="col-sm-4 address">
                    <strong>Address : </strong>c/o Block No.9 (IC Department), Government Engineering College,
                    Sector-28, Gandhinagar, Gujarat - 382028
                </div>
                <div class="col-sm-4 links">
                    <div>
                        <a href="{% url 'index-view' %}">Home</a>
                        <i class="seperator"></i>
                        <a href="/institute/rti.html">RTI</a>
                        <i class="seperator"></i>
                        <a href="{% static 'basic/pdf/MOU.pdf' %}">MOU</a>
                    </div>
                    <div>
                        <a href="/html/admissions.html">Admission</a>
                        <i class="seperator"></i>
                        <a href="/more/student_corner.html">Student</a>
                        <i class="seperator"></i>
                        <a href="{% url 'people:faculty' %}">Faculty</a>
                    </div>
                </div>
                <div class="col-sm-4 contact">
                    <strong>Call us: </strong>+91-79-29750281 <br>
                    <strong>Email us: </strong>helpdesk@iiitvadodara.ac.in
                </div>
            </div>
        </div>
    </footer>
</div>

<script>
    $(document).on('click', function (e) {
        var
            $popover,
            $target = $(e.target);

        //do nothing if there was a click on popover content
        if ($target.hasClass('popover') || $target.closest('.popover').length) {
            return;
        }

        $('[data-toggle="popover"]').each(function () {
            $popover = $(this);

            if (!$popover.is(e.target) &&
                $popover.has(e.target).length === 0 &&
                $('.popover').has(e.target).length === 0)
            {
                $popover.popover('hide');
            } else {
                //fixes issue described above
                $popover.popover('toggle');
            }
        });
    })
</script>
<!--
/********************************
**Contributors for this Website**
*********************************

--Designed by--
Mofid Ansari (ansarimofid@gmail.com)
Pratyush Singh (singh.pratyush96@gmail.com)

--Core Developers--
Mofid Ansari (ansarimofid@gmail.com)
Pratyush Singh (singh.pratyush96@gmail.com)
Saurabh Jain (saurabhjn76@gmail.com)

--Supporting Developers--
RajuKoushik (g.rajukoushik@gmail.com)
Kamal Awasthi (kamalawasthi97@gmail.com)
Avi Aryan (avi.aryan123@gmail.com)

--Contribution through reporting issues--
Harish Krupo (harishkrupo@gmail.com)
Shalinee Singh (shalinee43@gmail.com)
Mayank Maurya (mayankm522@gmail.com)
Navneet Nandan (navneet.nandan8@gmail.com)
Prem Chand Saini (premchandsaini779@gmail.com)
Unni Rajendra (unni332265@gmail.com)
Ravi Kishan Jha (ravikishan77@gmail.com)
Ankit Kumar (ankit.kumar071460@yahoo.com)

-->
</body>
</html>
