<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome to IIIT Vadodara{% endblock %}</title>
    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{% static 'basic/images/Logo.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/uikit.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/uikit-rtl.min.css' %}">

</head>
<script type="text/javascript" src="{% static 'basic/js/uikit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'basic/js/uikit-icons.min.js' %}"></script>
<script src="{% static 'basic/js/main.js' %}"></script>
<body id="home">
    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
        <header id="header">
            <div class="college-logo">
                <div class="logo-name">
                    <div class="logo">
                        <a href="{% url 'index-view' %}">
                            <img width="90px" src="{% static 'basic/images/Logo.jpg' %}" alt="logo">
                        </a>
                    </div>
                    <div class="name">
                        <a class="uk-link-heading" href="{% url 'index-view' %}">
                            <h5 id="college-name" class="uk-margin-remove">Indian Institute of Information Technology Vadodara</h5>
                            <span id="inp-slogan" style="font-size: 12px;">(Institute of National Importance under Act of Parliament)</span>
                        </a>
                    </div>
                </div>
            </div>
            <nav class="uk-navbar-container nav-bar uk-padding-small-right" uk-navbar>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a class="nav-a uk-button-text" href="{% url 'index-view' %}">Home</a>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                 <div class="uk-dropdown-grid uk-child-width-1-1@m" uk-grid>
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li><a href="/committee/about.html">About</a></li>
                                            <li><a href="/committee/directors_message.html">Director's message</a></li>
                                            <li><a href="/committee/rti.html">RTI</a></li>
                                            <li><a href="{% static 'basic/pdf/MOU.pdf' %}">MOU</a></li>
                                        </ul>
                                 </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-a uk-button-text" href="#">Institute</a>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                 <div class="uk-dropdown-grid uk-child-width-1-1@m" uk-grid>
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li><a href="/committee/bog.html">Board of governors</a></li>
                                            <li><a href="/committee/society_members.html">Society Members</a></li>
                                            <li><a href="/committee/senate.html">Senate</a></li>
                                            <li><a href="{% url 'linkages:linkage-all' %}">Linkages</a></li>
                                            <li><a href="{% url 'committee:all-committee' %}">Committees</a></li>
                                        </ul>
                                 </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-a uk-button-text" href="#">Academics</a>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                 <div class="uk-dropdown-grid uk-child-width-1-1@m" uk-grid>
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li><a href="{% url 'academic:all-programme' %}">Degree programs</a></li>
                                            <li><a href="{% url 'academic:all-calenders' %}">Academic calenders</a></li>
                                        </ul>
                                 </div>
                            </div>

                        </li>
                        <li>
                            <a class="nav-a uk-button-text" href="#">Admissions</a>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                <div class="uk-dropdown-grid uk-child-width-1-1@m" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class="uk-active"><a href="/admission/btech">B.Tech</a></li>
                                            <li class="uk-active"><a href="/admission/mtech">M.Tech</a></li>
                                            <li class="uk-active"><a target="_blank" href="http://pgadmissions.iiitvadodara.ac.in/programs-offered-1">Ph.D</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-a uk-button-text" href="#">People</a>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                <div class="uk-dropdown-grid uk-child-width-1-1@m" uk-grid>
                                    <div class="uk-padding-remove">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class="uk-active"><a href="{% url 'people:faculty' %}">Faculty</a></li>
                                            <li class="uk-active"><a href="{% url 'people:former_faculty' %}">Former Faculty</a></li>
                                            <li class="uk-active"><a href="{% url 'people:visiting_faculty' %}">Visiting Faculty</a></li>
                                            <li class="uk-active"><a href="{% url 'people:staff' %}">Staff</a></li>
                                            <li class="uk-active"><a href="{% url 'people:phd' %}">Ph.D scholars</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-a uk-button-text" href="#">Students</a>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                <div class="uk-dropdown-grid uk-child-width-1-1@m" uk-grid>
                                    <div class="uk-padding-remove">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li><a href="/more/faq.html">FAQs</a></li>
                                            <li><a href="/more/hostel.html">Hostel</a></li>
                                            <li><a href="/more/student_corner.html">Student's Corner</a></li>
                                            <li><a href="http://moodle.iiitv.ac.in">Moodle</a></li>
                                            <li><a href="/more/library.html">Library</a></li>
                                            <li><a href="/more/invited_talks.html">Invited Talks</a></li>
                                            <li><a href="https://sites.google.com/iiitvadodara.ac.in/placements/home">Placements</a></li>
                                            <li><a href="/gallery/">Photo Gallery</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-a uk-button-text" href="#">Notices</a>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                <div class="uk-dropdown-grid uk-child-width-1-1@m" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class="uk-active"><a href="#">Tenders</a></li>
                                            <li class="uk-active"><a href="#">Office orders</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a class="nav-a uk-button-text" href="{% url 'dashboard:dashboard' %}"><span uk-icon="icon: user; ratio: 1"></span></a></li>
                        {% if user.is_authenticated %}
                            <li><a class="nav-a uk-button-text" href="{% url 'logout' %}"><span uk-icon="icon: sign-out; ratio: 1"></span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="uk-offcanvas-content uk-padding-remove">
                <button class="uk-icon-button uk-button-default uk-margin-small-top uk-padding-remove" type="button" uk-toggle="target: #offcanvas-nav-primary"><span uk-icon="menu"></span></button>

                <div id="offcanvas-nav-primary" uk-offcanvas="flip: true overlay: true">
                    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

                        <ul class="uk-nav uk-nav-primary uk-nav-left uk-margin-auto-vertical">

                            <li><a href="{% url 'dashboard:dashboard' %}"><span class="uk-margin-small-right" uk-icon="icon: user"></span>Dashboard</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>Logout</a></li>
                            {% endif %}
                            <li class="uk-nav-divider"></li>
                            <li class="uk-active"><a href="{% url 'index-view' %}">Home</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="/committee/about.html">About</a></li>
                                    <li><a href="/committee/directors_message.html">Director's message</a></li>
                                    <li><a href="/committee/rti.html">RTI</a></li>
                                    <li><a href="{% static 'basic/pdf/MOU.pdf' %}">MOU</a></li>
                                </ul>
                            </li>
                            <li class="uk-active"><a href="#">Institute</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="/committee/bog.html">Board of governors</a></li>
                                    <li><a href="/committee/senate.html">Senate</a></li>
                                    <li><a href="/committee/society_members.html">Society Members</a></li>
                                    <li><a href="{% url 'linkages:linkage-all' %}">Linkages</a></li>
                                    <li class="uk-active"><a href="{% url 'committee:all-committee' %}">Committees</a></li>
                                </ul>
                            </li>
                            <li class="uk-active"><a href="{% url 'academic:all-programme' %}">Academics</a></li>
                            <li class="uk-active"><a href="#">Admissions</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="/admission/btech">B.Tech</a></li>
                                    <li><a href="/admission/mtech">M.Tech</a></li>
                                    <li><a target="_blank" href="http://pgadmissions.iiitvadodara.ac.in/programs-offered-1">Ph.D</a></li>
                                </ul>
                            </li>
                            <li class="uk-active"><a href="#">People</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="{% url 'people:faculty' %}">Faculty</a></li>
                                    <li><a href="{% url 'people:former_faculty' %}">Former Faculty</a></li>
                                    <li><a href="{% url 'people:visiting_faculty' %}">Visiting Faculty</a></li>
                                    <li><a href="{% url 'people:staff' %}">Staff</a></li>
                                    <li><a href="{% url 'people:phd' %}">Ph.D scholars</a></li>
                                </ul>
                            </li>
                            <li class="uk-active"><a href="#">Students</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="/more/faq.html">FAQs</a></li>
                                    <li><a href="/more/hostel.html">Hostel</a></li>
                                    <li><a href="/more/student_corner.html">Student's Corner</a></li>
                                    <li><a href="http://moodle.iiitv.ac.in">Moodle</a></li>
                                    <li><a href="/more/library.html">Library</a></li>
                                    <li><a href="/more/invited_talks.html">Invited Talks</a></li>
                                    <li><a href="https://sites.google.com/iiitvadodara.ac.in/placements/home">Placements</a></li>
                                    <li><a href="/gallery/">Photo Gallery</a></li>
                                </ul>
                            </li>
                            <li class="uk-active"><a href="#">Notices</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="#">Tenders</a></li>
                                    <li><a href="#">Office orders</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

        </header>
    </div>

    <div class="site-content"  uk-scrollspy="cls: uk-animation-slide-bottom-small; target: > div, div > .uk-card; delay: 100; repeat: true">
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        <div align="center" class="footer-wrapper">
            <br>
            <div id="contact-us">
                <div  uk-lightbox>
                    <a id="contact-us-gmaps" uk-icon="location" uk-tooltip="Find us" class="uk-icon-button uk-button-primary" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.559707391575!2d72.64821711490949!3d23.259103884833806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2c777c4b5e63%3A0xf2af0643c7186398!2sIndian+Institute+Of+Information+Technology+Vadodara!5e0!3m2!1sen!2sin!4v1527807578188" data-caption="Google Maps" data-type="iframe"></a>
                </div>
                <div>
                    <a uk-icon="mail" uk-tooltip="administration@iiitvadodara.ac.in" class="uk-icon-button uk-button-primary" href="mailto:administration@iiitvadodara.ac.in"></a>
                    <a id="contact-us-phone" uk-icon="receiver" uk-tooltip="+91-79-29750281" class="uk-icon-button" href="tel:+91-79-29750281"></a>
{#                    <a id="contact-us-facebook" uk-icon="facebook" uk-tooltip="Find us on facebook" class="uk-icon-button" href="#" target="_blank"></a>#}
{#                    <a uk-icon="twitter" uk-tooltip="Find us on twitter" class="uk-icon-button uk-button-primary" target="_blank" href="#"></a>#}
                    <a id="contact-us-linkedin" uk-icon="linkedin" uk-tooltip="Find us on linkedin" class="uk-icon-button" target="_blank" href="https://www.linkedin.com/school/iiitvadodara/"></a>
                    <a id="contact-us-github" uk-icon="github" uk-tooltip="Contribute on IIITV Open source" class="uk-icon-button uk-button-primary" href="https://www.github.com/iiitv" target="_blank"></a>
                </div>
            </div>
            <div class="uk-margin-small-left uk-margin-small-right uk-margin-small-top uk-padding-small uk-padding-remove-left uk-padding-remove-right">
                <span style="font-size: 12px;">
                    <span class="uk-text-bold">
                        Disclaimer:
                    </span>
                    The contents in the website are for information purpose only. IIIT Vadodara regularly monitors and updates the information on this website.
                    We attempt to ensure that the information on this website is correct, however, we do not warrant its completeness or accuracy.
                    No rights can be derived from the information contained in the IIIT Vadodara website.
                    The website may contain links to websites of third party organizations.
                    IIIT Vadodara cannot be held responsible for any consequences arising from the use of information obtained from these websites.
                </span>
            </div>
        </div>
    </footer>
</body>
</html>
