<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome to IIIT Vadodara{% endblock %}</title>
    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{% static 'basic/images/IIITV_Logo_1x1_small.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/uikit.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/uikit-rtl.min.css' %}">

</head>
<script type="text/javascript" src="{% static 'basic/js/uikit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'basic/js/uikit-icons.min.js' %}"></script>
<script src="{% static 'basic/js/main.js' %}"></script>
<body id="home">
    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">

        <header id="header">
            <div class="college-logo">
                <div class="logo-name">
                    <div class="logo">
                        <a href="{% url 'index-view' %}" title="">
                            <img width="90px" src="{% static 'basic/images/logo.jpg' %}" alt="logo">
                        </a>
                    </div>
                    <div class="name">
                        <a href="{% url 'index-view' %}" title="">
                            <h5>Indian Institute of Information Technology Vadodara</h5>
                        </a>
                    </div>
                </div>
            </div>
            <nav class="uk-navbar-container nav-bar" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a class="nav-a" href="#">Institute</a>
                            <div class="uk-width-large@m" uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                 <div class="uk-dropdown-grid nav-dropdown uk-child-width-1-2@m" uk-grid>
                                        <ul class="uk-nav uk-navbar-dropdown-nav uk-padding-remove">
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Director's message</a></li>
                                            <li><a href="#">Board of governors</a></li>
                                            <li><a href="#">Senate</a></li>
                                            <li><a href="#">RTI</a></li>
                                            <li><a href="#">MOU</a></li>
                                            <li><a href="#">Linkages</a></li>
                                        </ul>
                                        <ul class="uk-nav uk-dropdown-nav uk-padding-remove">
                                            <li class="uk-nav-header">Committees</li>
                                            <li><a href="#">Finance Committee</a></li>
                                            <li><a href="#">Strategic Planning Committee</a></li>
                                            <li><a href="#">HR Planning Committee</a></li>
                                            <li><a href="#">Building And Works Committee</a></li>
                                            <li><a href="#">Research Council</a></li>
                                        </ul>
                                 </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-a" href="#">Academics</a>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class="uk-active"><a href="#">B.Tech</a></li>
                                            <li class="uk-nav-divider"></li>
                                            <li><a href="#">CSE</a></li>
                                            <li><a href="#">IT</a></li>
                                            <li class="uk-nav-divider"></li>
                                            <li class="uk-active">M.Tech</li>
                                            <li class="uk-nav-divider"></li>
                                            <li><a href="#">CSE</a></li>
                                            <li><a href="#">IT</a></li>
                                            <li class="uk-nav-divider"></li>
                                            <li class="uk-active"><a href="#">Ph.D</a></li>
                                            <li class="uk-nav-divider"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-a" href="#">Admissions</a>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class="uk-active"><a href="#">B.Tech</a></li>
                                            <li class="uk-active"><a href="#">M.Tech</a></li>
                                            <li class="uk-active"><a href="#">Ph.D</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-a" href="#">People</a>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class="uk-active"><a href="#">Faculty</a></li>
                                            <li class="uk-active"><a href="#">Visiting Faculty</a></li>
                                            <li class="uk-active"><a href="#">Former Faculty</a></li>
                                            <li class="uk-active"><a href="#">Staff</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-a" href="#">More</a>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class="uk-active"><a href="#">FAQs</a></li>
                                            <li class="uk-active"><a href="#">Hostel</a></li>
                                            <li class="uk-active"><a href="#">Student's Corner</a></li>
                                            <li class="uk-active"><a href="#">Moodle</a></li>
                                            <li class="uk-active"><a href="#">Library</a></li>
                                            <li class="uk-active"><a href="#">Placements</a></li>
                                            <li class="uk-active"><a href="#">Photo Gallery</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-a" href="#">Useful Links</a>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300">
                                <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class="uk-active"><a href="#">Link 1</a></li>
                                            <li class="uk-active"><a href="#">Link 2</a></li>
                                            <li class="uk-active"><a href="#">Link 3</a></li>
                                            <li class="uk-active"><a href="#">Link 4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-right">

                    <ul class="uk-navbar-nav">
                        {% if user.is_authenticated %}
                            <li><a class="nav-a" href="{% url 'dashboard:dashboard' %}"><span uk-icon="icon: user; ratio: 1"></span></a></li>
                            <li><a class="nav-a" href="{% url 'logout' %}"><span uk-icon="icon: sign-out; ratio: 1"></span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="uk-offcanvas-content">
                <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-nav-primary"><span uk-icon="menu"></span></button>

                <div id="offcanvas-nav-primary" uk-offcanvas="flip: true overlay: true">
                    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

                        <ul class="uk-nav uk-nav-primary uk-nav-left uk-margin-auto-vertical">

                            <li><a href="{% url 'dashboard:dashboard' %}"><span class="uk-margin-small-right" uk-icon="icon: user"></span>Dashboard</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>Logout</a></li>
                            {% endif %}
                            <li class="uk-nav-divider"></li>
                            <li class="uk-active"><a href="#">Institute</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Director's message</a></li>
                                    <li><a href="#">Board of governors</a></li>
                                    <li><a href="#">Senate</a></li>
                                    <li><a href="#">RTI</a></li>
                                    <li><a href="#">MOU</a></li>
                                    <li><a href="#">Linkages</a></li>
                                </ul>
                            </li>
                            <li class="uk-active"><a href="#">Committees</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="#">Finance Committee</a></li>
                                    <li><a href="#">Strategic Planning Committee</a></li>
                                    <li><a href="#">HR Planning Committee</a></li>
                                    <li><a href="#">Building And Works Committee</a></li>
                                    <li><a href="#">Research Council</a></li>
                                </ul>
                            </li>
                            <li class="uk-active"><a href="#">Academics</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="#">B.Tech CSE</a></li>
                                    <li><a href="#">B.Tech IT</a></li>
                                    <li><a href="#">M.Tech CSE</a></li>
                                    <li><a href="#">M.Tech IT</a></li>
                                    <li><a href="#">Ph.D</a></li>
                                </ul>
                            </li>
                            <li class="uk-active"><a href="#">Admissions</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="#">B.Tech</a></li>
                                    <li><a href="#">M.Tech</a></li>
                                    <li><a href="#">Ph.D</a></li>
                                </ul>
                            </li>
                            <li class="uk-active"><a href="#">People</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="#">Faculty</a></li>
                                    <li><a href="#">Visiting Faculty</a></li>
                                    <li><a href="#">Former Faculty</a></li>
                                    <li><a href="#">Staff</a></li>
                                </ul>
                            </li>
                            <li class="uk-active"><a href="#">More</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Hostel</a></li>
                                    <li><a href="#">Student's Corner</a></li>
                                    <li><a href="#">Moodle</a></li>
                                    <li><a href="#">Library</a></li>
                                    <li><a href="#">Placements</a></li>
                                    <li><a href="#">Photo Gallery</a></li>
                                </ul>
                            </li>
                            <li class="uk-active"><a href="#">Useful Links</a></li>
                            <li class="uk-parent">
                                <ul class="uk-nav-sub">
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                    <li><a href="#">Link 4</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

        </header>
    </div>

    <div class="site-content">
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        <div class="footer-wrapper">
            <p align="center">
                <strong>Address : </strong>c/o Block No.9, Government Engineering College,
                Sector-28, Gandhinagar, Gujarat - 382028
            </p>
            <h4 align="center" class="uk-margin-remove">This is the footer</h4>
        </div>
    </footer>
</body>
</html>
