{% extends 'basic/base.html' %}
{% block title %}
    Welcome to IIIT Vadodara.
{% endblock %}

{% block body %}
<!-- carousel -->
    <div class="carousel-wrapper">
        <div class="carousel" style="margin: 0 auto">
            {% for image in carousel %}
                <div class="carousel-items">
                    <img height="400px" src="media/{{ image.image }}" alt="{{ image.id }}">
                    <div></div>
                </div>
              {% endfor %}
        </div>
    </div>

    <!-- Announcements, Events, News -->
    <div class="widgets-wrapper">
        <div class="widgets-container">

            <!-- Edit this section for important announcements.-->
            <div class="alert alert-warning text-center">
                <a href="#">Important news will come here, after we add tag 'imp' with them.</a>
            </div>

            <!-- Announcements -->
            <div class="col-sm-4" id="announcements">
                <div class='announcement-content '>
                    <div class="widgets-title"><h2>Announcements</h2></div>
                        {% if latest_announcement %}
                            <ul id="announcement-list">
                            {% for announcement in latest_announcement %}
                                <li>
                                <span style = "font-size: 12px; font-weight: bold;color:Black">
                                    <a href='/announcement/{{ announcement.key }}'> {{ announcement.title}} </a>
                                    </span>
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                        <p> No latest announcement </p>
                        {% endif %}
                </div>
            </div>

            <!-- Events -->
            <div class="col-sm-4" id="events">
                <div class="events-content">
                    <div class="widgets-title"><h2>Events</h2></div>
                    <ul id="events-list">
                        {% for event in events %}
                        <li>
                            <div class="event-container">
                                <!-- Date -->
                                <div class="date">
                                    <span>
                                         <!-- Day -->
                                        <div class="day">{{ event.start_time|date:"d" }}</div>
                                        <!-- Month Short Form (first three letters) -->
                                        <div class="month">{{ event.start_time|date:"M" }}</div>
                                    </span>
                                </div>
                                <!-- Event-Description -->
                                <div class="event-text"><a href="{% url 'event-view-single' event.id %}">{{ event.name }}</a></div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- News section -->
            <div class="col-sm-4" id="news">
                <div class='news-content '>
                    <div class="widgets-title"><h2>News</h2></div>
                    {% if latest_news %}
                        <ul id="news-list">
                        {% for news in latest_news %}
                            <li>
                            <a href="{% url 'news-single' news.id %}" target="_blank">{{ news.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p> No latest News </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
