{% extends 'basic/base.html' %}
{% block title %}
    Welcome to IIIT Vadodara.
{% endblock %}

{% block body %}
    <div>
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div class="uk-width-3-5@s">
                <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="clsActivated: uk-transition-active; center: true; autoplay: true; autoplay-interval: 5000;">
                    <ul class="uk-slider-items uk-grid">
                        {% for image in carousel %}
                            {% if image.extended.indexPageCarousel %}
                                <li class="uk-width-1-1">
                                    <div class="uk-panel uk-transition-toggle">
                                        <img class="carousel-img" src="media/{{ image.image }}" alt="{{ image.title }}">
                                        <div class="uk-overlay uk-overlay-primary carousel-img-details uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                            <p class="uk-margin-remove">{{ image.title }}</p>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>
            </div>
            <div class="uk-width-2-5@s">
                <div class="uk-card uk-card-default uk-card-body">Item</div>
            </div>
        </div>
    </div>
{% endblock %}
