{% extends 'basic/base.html' %}
{% block title %}
    Welcome to IIIT Vadodara.
{% endblock %}

{% block body %}
    <div>
        <div class="carousel-and-announcements-grid uk-child-width-expand@s uk-responsive-height uk-text-center" uk-grid>
            <div class="uk-width-2-3@m uk-padding-remove">
                <div class="uk-position-relative uk-visible-toggle uk-dark" uk-slider="clsActivated: uk-transition-active; center: true; autoplay: true; autoplay-interval: 5000;">
                    <ul class="uk-slider-items uk-grid">
                        {% for image in carousel %}
                            {% if image.extended.indexPageCarousel %}
                                <li class="uk-width-1-1">
                                    <div class="uk-panel uk-transition-toggle">
{#                                        Best view 5 : 8 or 750px X 420px #}
                                        <img class="carousel-img" src="media/{{ image.image }}" alt="{{ image.title }}">
                                        <div class="uk-overlay uk-overlay-primary carousel-img-details uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                            <p class="uk-margin-remove">{{ image.caption }}</p>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>
            </div>
            <div class="uk-width-1-3@m uk-padding-remove">
                <div class="uk-card index-announcement-card uk-card-body">
                    <h3 class="uk-card-title">
                        <a style="color: white;" class="uk-link-heading index-card-heading" href="{% url 'announcement:all_announcements' %}"><span class="uk-margin-small-right" uk-icon="warning" ratio="1.5"></span>Announcements</a>
                    </h3>
                    {% if latest_announcement %}
                        <hr>
                        <ul class="uk-list uk-list-large uk-list-divider">
                            {% for announcement in latest_announcement %}
                                <li>
                                    <a class="uk-link-heading uk-text-small uk-button-text index-announcement-title uk-align-left" href="{{ announcement.get_url }}"> {{ announcement.title }} </a>
                                </li>
                            {% endfor %}
                            <hr>
                        </ul>
                    {% else %}
                    <p> No latest announcement </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="uk-child-width-expand@s widget-container uk-responsive-height uk-margin-small-top uk-text-center uk-margin-small-left uk-margin-small-right" uk-grid>
            <div class="uk-width-1-3@m uk-padding-remove">
                <div class="uk-card index-3row-card uk-padding-small uk-card-body">
                    <h3 class="uk-card-title index-card-heading">MyGov</h3>
                    <p> No latest announcement </p>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-padding-remove">
                <div class="uk-card index-3row-card uk-padding-small uk-card-body">
                    <h3 class="uk-card-title">
                        <a class="uk-link-heading index-card-heading" href="{% url 'event:event-view' %}"><span class="uk-margin-small-right" uk-icon="calendar" ratio="2"></span>Events</a>
                    </h3>
                    {% if latest_events %}
                        <hr>
                        <ul class="uk-list uk-list-large">
                            {% for event in latest_events %}
                                <li class="event-li">
                                    <div class="event-date uk-margin-small-right">
                                        <span>
                                             <!-- Day -->
                                            <div class="day">{{ event.start_date|date:"d" }}</div>
                                            <!-- Month Short Form (first three letters) -->
                                            <div class="month">{{ event.start_date|date:"M" }}</div>
                                        </span>
                                    </div>
                                    <a class="uk-link-heading index-event-title uk-text-small uk-button-text uk-align-left" href="{{ event.get_url }}"> {{ event.title }} </a>
                                </li>
                            {% endfor %}
                            <hr>
                        </ul>
                    {% else %}
                    <p> No latest announcement </p>
                    {% endif %}
                </div>
            </div>
            <div class="uk-width-1-3@m uk-padding-remove">
                <div class="uk-card index-3row-card uk-padding-small uk-card-body">
                    <h3 class="uk-card-title">
                        <a class="uk-link-heading index-card-heading" href="{% url 'news:news-all' %}"><span class="uk-margin-small-right" uk-icon="rss" ratio="2"></span>News</a>
                    </h3>
                    {% if latest_news %}
                        <hr>
                        <ul class="uk-list uk-list-large uk-list-divider">
                            {% for news in latest_news %}
                                <li>
                                    <a class="uk-link-heading uk-button-text index-news-title uk-align-left uk-text-small" href="{{ news.get_url }}"> {{ news.title }} </a>
                                </li>
                            {% endfor %}
                            <hr>
                        </ul>
                    {% else %}
                    <p> No latest announcement </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
