<body>
    <h3>News List:</h3>
    {% if news_list %}
        <ul>
            {% for news in news_list %}
                <li><a href="{% url 'news-single' news.id %}">{{ news.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h4>No News to display</h4>
    {% endif %}
    {% if news_list.has_previous %}
        <a href="?page={{ news_list.previous_page_number }}&num_items={{num_items}}">Previous</a>
    {% endif %}

    {% if news_list.has_next %}
        <a href="?page={{ news_list.next_page_number }}&num_items={{num_items}}">Next</a>
    {% endif %}
</body>
