{% extends 'basic/base.html' %}
{% block title %}
    IIIT Vadodara | Director's Message
{% endblock %}
{% load static %}
{% block body %}
<div class="contents-wrapper">
    <!-- Contents starts here -->
    <div class="content dir-msg">
        <div class="dir-detail">
            <img class="responsive-img circle" src="{% static 'basic/images/Professor-R-Nagaraj-2.jpg' %}">
            <div>Dr. R Nagaraj</div>
            <div>
                Director DA-IICT
            </div>
            <div>
                Mentor Director IIIT-V
            </div>
        </div>
        <div class="dir-text">
            <p>
                Dr. R Nagaraj obtained his PhD from Visvesvaraya Technological University in the field of Fault Tolerant
                Flight Controllers using Artificial Neural Network (ANN). His areas of interest include fault tolerant
                control, Non linear control systems, neural networks and reconfigurable control systems. Dr. Nagaraj has
                twenty five years of experience in research, teaching and academic administration. Prior to joining
                DA-IICT, he was the Principal of The Oxford College of Engineering; Bangalore where he held positions of
                Vice-Principal, Professor and Head of the Department of Electronics & Communication Engineering. He was
                the national merit scholar and received academic excellence award from RSST and mentorship award from RV
                VLSI Design Center, Bangalore. Dr. Nagaraj is IEEE Senior Member, Life Member of Institution of
                Electronics & Telecommunication Engineers, and Indian Society for Technical Education and Computer
                Society of India.
            </p>
            <blockquote>
                <p>“I can't change the direction of the wind, but I can adjust my sails to always reach the
                    destination.” -Jimmy Dean</p>
            </blockquote>
            <p>
                You have infinite potential. Your attitude can make or break you, so turn your attitude into one of
                gratitude, faith, trust, and above all optimism. A warm welcome to IIIT, Vadodara. Current environment
                is characterized by the need to constantly innovate and to reinvent oneself in order to sustain and grow
                one's stature in the industry. We, at IIIT-V believe that today's engineers need to inculcate in them
                the quality to adapt to the changing environment and to possess an action oriented approach. The primary
                goal of IIIT-V is to provide an environment that helps our students - future engineers and leaders of
                the country - to realize their potential in full. Along with expertise in core subject knowledge we aim
                to improve their communication skills, critical thinking abilities, problem solving skills, creativity,
                moral values and sense of responsibility. Our educational and training programmes are anchored around
                the same philosophy. Though still at its nascent stage, IIIT-V has started fostering a vision of
                becoming a leading Institution of the country. As an institute, we are committed towards creating a
                community which is vibrant and provides a lifetime learning experience both professionally and
                personally.
            </p>
        </div>
    </div>
</div>
{% endblock %}
