{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | Ph.D.
{% endblock %}
{% block body %}
<div class="uk-container">
<!-- Contents starts here -->
    <div class="uk-card uk-card-default uk-margin-medium-top uk-width-1-1@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Doctor of Philosophy</h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>
                Doctoral Program is intended for students who wish to conduct, manage or interpret research in
                academic, industry or government settings. This degree certifies credible completion of an approved
                program of advanced study in addition to a research thesis of high quality based on original
                research. Program comprises of one-two semester of intensive course work followed by minimum of
                two-three years of research. Students are expected to demonstrate excellence in research area via
                quality publications in reputed journals and conferences.
            </p>
        </div>
        <div class="uk-card-footer">
            For PhD admissions visit: <a href="http://pgadmissions.iiitvadodara.ac.in" target="_blank">http://pgadmissions.iiitvadodara.ac.in</a>
        </div>
    </div>
</div>
{% endblock %}
