{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | Ph.D.
{% endblock %}
{% block body %}
<!-- Content wrapper -->
<div class="contents-wrapper">
    <!-- Contents starts here -->
    <div class="contents">
        <h2>Doctor of Philosophy</h2>
        <br>
        <p>
            Doctoral Program is intended for students who wish to conduct, manage or interpret research in
            academic, industry or government settings. This degree certifies credible completion of an approved
            program of advanced study in addition to a research thesis of high quality based on original
            research. Program comprises of one-two semester of intensive course work followed by minimum of
            two-three years of research. Students are expected to demonstrate excellence in research area via
            quality publications in reputed journals and conferences.
        </p>
        <p>
            For PhD admissions visit: <a href="http://pgadmissions.iiitvadodara.ac.in" target="_blank">http://pgadmissions.iiitvadodara.ac.in</a>
        </p>
    </div>
</div>
{% endblock %}
