{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | FAQs
{% endblock %}
{% load static %}
{% block body %}
        <!-- Content wrapper -->
        <div class="contents-wrapper">
            <!-- Contents starts here -->
            <div class="content"> <h2 style="text-align:center">FAQs</h2>
                <hr>
                 <p class="small">Indian Institute of Information Technology Vadodara is an institute established by the Government of India under Public Private Partnership (PPP) mode. The partners in this project are Government of India, Government of Gujarat, Tata Consultancy Services, Gujarat Energy Research and Management Institute and Gujarat State Fertilizers and Chemicals. The Institute was established in the year 2013. The first batch that was admitted in the year 2013-14 is graduating this year. The Institute is presently functioning from Block Number 9 of Government Engineering College Gandhinagar. The Institute does not have its own hostel building, therefore, a private premises has been hired to house the hostel of the institute. Students are transported by bus to the Institute. The mess facility is available at hostel.
                 </p> <br/>
            <div class="panel panel-default">
                <div class="panel-heading"> <h3 class="panel-title"> <b>While the name of the Institute is Indian Institute of Information Technology Vadodara, why it is located at Gandhinagar and not at Vadodara?</b> </h3>
                </div>
                <div class="panel-body">
			        The Institute has been allotted land in Knowledge City Dumad, Vadodara by the Government of Gujarat. The institute activities will be moved to Vadodara after the campus development. Till such time the institute will keep functioning from the temporary location in Gandhinagar.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"> <h3 class="panel-title"> <b>How do I get admission in IIIT Vadodara?</b> </h3>
                </div>
                <div class="panel-body">Admissions are through the <a href="http://josaa.nic.in" target="_blank">Joint Seat Allocation Authority</a> constituted by the Government of India. The Institute does not conduct its own entrance examination. The admissions are purely based on All India Ranking (AIR) announced by the Central Board for Secondary Education (CBSE). There is no quota for Home State or for NRI. The only reservation available is for Scheduled Castes, Scheduled Tribes, Other Backward Classes featuring in the list of Government of India and for the PH category.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"> <h3 class="panel-title"> <b>What is the facility of hostels?</b> </h3>
                </div>
                <div class="panel-body">Since the institute does not have any permanent infrastructure in Gandhinagar, a private premises is rented for the purpose of housing the hostel facility. The facility has rooms which can accommodate 3 students per room. The hostel is about 19 kms away from the Institute. Buses, on regular basis run between the Hostel and the Institute. The hostel is equipped with the mess facility.<br/><a href="http://iiitvadodara.ac.in/hostel.php">For more information</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"> <h3 class="panel-title"> <b>What is the role of the Mentor Institute?</b> </h3></div>
                <div class="panel-body">The role of mentoring institute is mainly to ensure that the academic activity of IIITV continues efficiently. Institute is having few faculty members on its own rolls. Apart from these regular faculty the mentoring institute that is DA-IICT faculty members teach some courses as visiting faculty.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"> <h3 class="panel-title"> <b>What about Placements?</b> </h3></div>
                <div class="panel-body">The Institute runs the placement cell. 72% students have been placed with the average package of 3.94 LPA for the academic year 2016-17.<br/><a href="http://iiitvadodara.ac.in/placement.php">For more information</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"> <h3 class="panel-title"> <b>What were the closing ranks for the last year?</b> </h3></div>
                <div class="panel-body"> <img style="width: 100%;" src="{% static 'basic/images/Ranks2016.jpg' %}" /></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"> <h3 class="panel-title"> <b>What is the Fees?</b> </h3></div>
                <div class="panel-body">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4"> <a href="btech_admission.php">B. Tech.</a></div>
                <div class="col-sm-4 col-md-4 col-lg-4"> <a href="http://pgadmissions.iiitvadodara.ac.in/fees-assistance" target="_blank">M. Tech.</a></div>
                <div class="col-sm-4 col-md-4 col-lg-4"> <a href="http://pgadmissions.iiitvadodara.ac.in/fees-assistance" target="_blank">Ph. D.</a></div>
            </div>
        </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"> <h3 class="panel-title"> <b>How to pay fees online?</b> </h3></div>
            <div class="panel-body"> <br/>
            <div class="embed-responsive embed-responsive-16by9"> <iframe allowfullscreen="" class="embed-responsive-item" src="https://www.youtube.com/embed/B7U3T_aaGCg"></iframe></div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}