{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | Invited Talks
{% endblock %}
{% block body %}

    <!-- Content wrapper -->
    <div class="uk-container">
        <!-- Contents starts here -->
        <div class="content">
            <h2 class="uk-margin-small-top uk-text-center" style="color: white;">Invited Talks</h2>
            <div class="uk-margin-medium-bottom">
                {% for talk in talks_list %}
                    <div class="uk-card uk-margin-small-top uk-card-default uk-card-hover uk-padding-small">
                        <div class="uk-card-header">
                            <div>
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ talk.title }}</h3>
                            </div>
                        </div>
                        {% if talk.description %}
                            <div class="uk-card-body">
                                <p>
                                    {{ talk.description | safe }}
                                </p>
                            </div>
                        {% endif %}
                        <div class="uk-card-footer">
                            <strong>Date:</strong> {{ talk.get_start_date }}
                            <br>
                            <strong>Speaker:</strong> {{ talk.speaker | safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if talks_list.has_previous %}
              <a class="uk-button uk-button-primary" href="?page={{ talks_list.previous_page_number }}&num_items={{ num_items }}">Previous page</a>
            {% endif %}

            {% if talks_list.has_next %}
            <a class="uk-button uk-button-primary" href="?page={{ talks_list.next_page_number }}&num_items={{ num_items }}">Next page</a>
            {% endif %}
        </div>
    </div>
{% endblock %}