{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | Library
{% endblock %}
{% load static %}
{% block body %}

    <!-- Content wrapper -->
    <div class="contents-wrapper">
        <!-- Contents starts here -->
        <div class="content">
            <div class="gallery gallery-design">

                   <h1 style="text-align:center">Library </h1>


			<div class="grid">
                    <div class="grid-sizer"></div>
                    <!-- Remove appropriate comment and insert relevant caption if needed. -->

                    <!--Image 01-->
                    <a class="element-item grid-item mix mockups" href="{% static 'basic/images/L1.jpg' %}">
                         <img style="width: 24%;" src="{% static 'basic/images/L1.jpg' %}" alt="">
                    </a>
		   <!--Image 02-->
                    <a class="element-item grid-item mix mockups" href="{% static 'basic/images/L2.jpg' %}">
                         <img style="width: 24%;" src="{% static 'basic/images/L2.jpg' %}" alt="">
                    </a>
		   <!--Image 03-->
                    <a class="element-item grid-item mix mockups" href="{% static 'basic/images/L3.jpg' %}">
                         <img style="width: 24%;" src="{% static 'basic/images/L3.jpg' %}" alt="">
                    </a>
		   <!--Image 04-->
                    <a class="element-item grid-item mix mockups" href="{% static 'basic/images/L4.jpg' %}">
                         <img style="width: 24%;" src="{% static 'basic/images/L4.jpg' %}" alt="">
                    </a>
                </div>
			<br/><br/>
            <p style="text-align:center">
                The primary aim of IIIT Vadodara Library is to support research, teaching and learning of the institute community. The Library is one of the central support services of IIIT Vadodara. The mission of the Library is to provide information services and access to full text digital and printed resources to support the scholarly and informational needs of faculty, students and staff. The Library is in fast growing stage. In March 2016 Library subscribed online <a href="http://dl.acm.org/" target="_blank">ACM Digital library</a> database. The library has a good collection of books on Computer Science, Information Technology, Physics, Mathematics, Humanities & Social Sciences and also technical and general print magazines. The collection includes reference books, text books, CDs etc. We are constantly in a process of increasing our collection of books further.
            </p>
            <p style="text-align:center">
                <a href="http://iiitvadodara.ac.in/pdf/library-circulation.pdf" target="_blank">Library Rules and Regulations</a> <br/>
            </p style="text-align:center">
	    <p style="text-align:center"><a href="http://library.iiitv.ac.in/" target="_blank"><font color="red">Library Catalogue OPAC</font></a></p>
		</div>
        </div>
    </div>
{% endblock %}