{% extends 'basic/base.html' %}
{% block title %}
    IIITV | Student's corner
{% endblock %}

{% block body %}
    <div class="uk-container">
        <div class="uk-card uk-margin-medium-top uk-card-default uk-card-hover uk-padding-small">
            <h2>Student Corner Galleries</h2>
            <hr>
            {% if object_list %}
                {% for gallery in object_list %}
                        {% for photo in gallery.sample %}
                            {% if photo.extended.studentGallery %}
                                {% if forloop.first %}
                                    <a class="uk-padding-small uk-link-heading" href="/more/student_corner/{{ gallery.id }}">
                                         <div class="uk-inline">
                                            <img width="300"  src="{{ photo.image.url }}" alt="{{ gallery.id }}">
                                            <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                                                <p>{{ gallery.title }}</p>
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {%endif%}
                        {% endfor %}
                {% endfor %}
            {% else %}
            <div>"No galleries were found".</div>
            {% endif %}
        </div>
    </div>

{% endblock %}
