{% extends 'basic/base.html' %}
{% load staticfiles %}

{% block title %}{{ gallery.title }}{% endblock %}


{% block body %}

	<div class="uk-container">
        <div class="uk-card uk-margin-medium-top uk-card-default uk-padding-small">
        	<h2>{{ gallery.title }}</h2>
            <hr>
        	<div class="gallery-wrapper">
                <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: scale">
                    {% for photo in gallery.public %}
                        {% if photo.extended.studentGallery %}
                            <div>
                                <a class="uk-inline" href="{{ photo.image.url }}" data-caption="{{ photo.title }}">
                                    <img src="{{ photo.image.url }}" alt="">
                                </a>
                            </div>
                         {% endif %}
                    {% endfor %}
                </div>
                <hr>
                <div>
	    		    {% if gallery.description %}{{ gallery.description|safe }}{% endif %}
                </div>
	    	</div>
            <hr>
            <div class="contents-wrapper">
                <div class="gallery-bottom-section">
                    Published:
                    <div id="gallery-published-date"> {{ gallery.date_added }}</div>
                </div>
                <div><a href="{% url 'more:student_corner' %}"  class="button">View All</a></div>
            </div>
        </div>
	</div>

{% endblock %}
