{% extends 'basic/base.html' %}
{% block title %}
    Events
{% endblock %}

{% block body %}
    <div class="contents-wrapper">
        <div class="content">
            <h2>Events</h2>
            {% if events %}
                <ul class="detailed-widget-view">
                {% for event in events %}
                    <li><a href="{% url 'event:event-view-single' event.id %}">{{ event.title }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
    
        {% if events.has_previous %}
            <a href="?page={{ events.previous_page_number }}&num_items={{num_items}}">Previous</a>
        {% endif %}

        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}&num_items={{num_items}}">Next</a>
        {% endif %}
        </div>
    </div>

{% endblock %}