{% extends 'basic/base.html' %}
{% block title %}
    News
{% endblock %}

{% block body %}
	<div class="contents-wrapper">
 		<div class="content">
 		{% if event %}
 			<h2>{{ event.name }}</h2>
        	{% if event.description is not None %}
        		<div class="item-description">
        			<p>{{ event.description|safe }}</p>
        	{% endif %}

        	{% if event.place is not None %}
        		Venue: 
        		<div class="event-place">
            		{{ event.place }}
            	</div>
        	{% endif %}

        	{% if event.start_time is not None %}
        		<p></p> Time:
        		<div class="event-time">
        			{{ event.start_time }}
        		</div>
        	{% endif %}
        {% endif %}
        		</div>
        </div>
    </div>
{% endblock %}
