{% extends 'basic/base.html' %}
{% block title %}
    Events
{% endblock %}

{% block body %}
    <div class="uk-container">
        <div class="uk-margin-medium-top">
            {% if events %}
                <ul class="uk-list uk-list-large">
                {% for event in events %}
                    <div class="uk-card uk-card-default uk-margin-small uk-card-hover">
                        <a class="uk-link-heading" href="{{ event.get_url }}">
                            <div class="uk-card-body">
                                <div class="uk-grid-small uk-child-width-1-2@l uk-flex-middle" uk-grid>
                                    <div class="uk-width-expand">
                                        <h4 class="uk-card-title uk-margin-remove-bottom">{{ event.title }}</h4>
                                    </div>
                                    <div class="uk-text-right">
                                        {{ event.get_start_date }} to {{ event.get_end_date}}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </ul>
            {% endif %}
    
        {% if events.has_previous %}
            <a href="?page={{ events.previous_page_number }}&num_items={{num_items}}">Previous</a>
        {% endif %}

        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}&num_items={{num_items}}">Next</a>
        {% endif %}
        </div>
    </div>

{% endblock %}