{% extends 'basic/base.html' %}
{% block title %}
    IIITV | Announcements
{% endblock %}

{% block body %}
  <div class="contents-wrapper">
    <div class="content">
      <h2>Announcements</h2>
        {% if announcement_list %}
          <ul class="detailed-widget-view">
            {% for announcement in announcement_list %}
              <li><a href="{{ announcement.get_url }}">{{ announcement.title }}</a></li>
            {% endfor %}
          </ul>
        
        {% if announcement_list.has_previous %}
          <a href="?page={{ announcement_list.previous_page_number }}&num_items={{ num_items }}">Previous</a>
        {% endif %}

        {% if announcement_list.has_next %}
        <a href="?page={{ announcement_list.next_page_number }}&num_items={{ num_items }}">Next</a>
        {% endif %}

        {% else %}
        <p>No announcement</p>
        {% endif %}
    </div>
  </div>
{% endblock %}
