{% extends 'basic/base.html' %}
{% block title %}
    IIITV | Announcements
{% endblock %}

{% block body %}
  <div class="uk-container">
    <div class="uk-margin-medium-top">
        {% if announcement_list %}
          <ul class="uk-list uk-list-large">
            {% for announcement in announcement_list %}
                <div class="uk-card uk-card-default uk-margin-small uk-card-hover">
                    <a class="uk-link-heading" href="{{ announcement.get_url }}">
                    <div class="uk-card-body">
                        <div class="uk-grid-small uk-child-width-1-2@l uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h4 class="uk-card-title uk-margin-remove-bottom">{{ announcement.title }}</h4>
                            </div>
                            <div class="uk-text-right">
                                {{ announcement.get_start_date }}
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
          </ul>
        
        {% if announcement_list.has_previous %}
          <a href="?page={{ announcement_list.previous_page_number }}&num_items={{ num_items }}">Previous</a>
        {% endif %}

        {% if announcement_list.has_next %}
        <a href="?page={{ announcement_list.next_page_number }}&num_items={{ num_items }}">Next</a>
        {% endif %}

        {% else %}
        <p>No announcement</p>
        {% endif %}
    </div>
  </div>
{% endblock %}
