{% extends 'basic/base.html' %}
{% block title %}
    IIITV | Announcement
{% endblock %}

{% block body %}
	<div class="contents-wrapper">
 		<div class="content">
  			{% if info %}
    			<h2>{{ info.title }}</h2>
    			{% if info.description is not None %}
    				<div class="item-description">
      					<p>{{ info.description | safe }}</p>
                    </div>
    			{% endif %}
  			{% else %}
    			<h1> No such Announcement </h1>
  			{% endif %}
  		</div>
  	</div>
{% endblock %}
