{% extends 'basic/base.html' %}
{% load static %}
{% block title %}
    IIITV | Admissions
{% endblock %}
{% block body %}
<!-- Content wrapper -->
<div class="uk-container uk-text-center">
    <!-- Contents starts here -->
    <div class="uk-card uk-card-body uk-card-default uk-margin-medium-top">
    <h2>Admissions</h2>
        <br/><br/>
        <div>
            <div class="uk-button uk-button-default">
                <a class="" href="/admission/btech" target="_blank">
                    B.Tech. Admissions
                </a>
            </div>
            <div class="uk-button uk-button-default">
                <a href="/admission/mtech" target="_blank">
                    M.Tech. Admissions
                </a>
            </div>
            <div class="uk-button uk-button-default">
                <a href="http://pgadmissions.iiitvadodara.ac.in/programs-offered-1" target="_blank">
                    PhD Admissions
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
