{% extends 'basic/base.html' %}
{% load static %}
{% block title %}
    IIITV | B.Tech. Admissions
{% endblock %}
{% block body %}<div class="uk-container">
    <!-- Contents starts here -->
    <div class="uk-card uk-card-default uk-margin-medium-top uk-width-1-1@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Bachelor of Technology Admissions</h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>
                Admissions to the four year B.Tech. Program in both the branches (IT & CSE) of the Institute is made
                through the examination conducted by CBSE under the name and style of JEE (Main). Official Notification of this
                examination is given wide publicity through national dailies during September-December every year. The
                examination is scheduled usually in May the following year and held at several centers spread over the entire
                length and breadth of the country. Based upon the merit in the written examination, Central Counseling Board of
                JEE (Main) invites candidates for counseling at selected centers and seats for various participating
                institutions are allotted, based upon individual merit.
                <br/>
                <br/> Details about cutoffs are available at <a href="http://www.csab.nic.in/" target="_blank">CSAB website</a>. For any queries
                or details related to admissions, <a href="mailto:registrar@iiitvadodara.ac.in"> e-mail us at registrar@iiitvadodara.ac.in</a>.
                <br/>
                <br/>
                <h3>B.Tech. (CSE/IT) Fees Structure </h3>
                {% if fee_struct %}
                    {% for fee in fee_struct %}
                    <center>
                        <img src="{% static fee.fee_structure %}" style="width:100%;"/>
                    </center>
                <br /><br />
                    {% endfor %}
                {% else %}
                    Fee Structure Yet to be published
                {% endif %}
                <a href="http://iiitvadodara.ac.in/ugpolicy.php" target="_blank"></a>
            </p>
        </div>
        <div class="uk-card-footer">
            <a href="#btech-refund" uk-toggle>Fees Refund Policy</a>
        </div>
    </div>
    <div id="btech-refund" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog" uk-scrollspy="cls: uk-animation-slide-bottom-small; target: > div, div > div, table; delay: 150; repeat: true">
            <button class="uk-modal-close-full uk-close-medium" type="button" uk-close></button>
            <div class="uk-padding-small">
                <h2 class="uk-text-center uk-margin-small-top">Bachelor's Degree Programs - Fees Refund Policy
                    <br/><br/>
                </h2>
                <div class="uk-padding-small">
                    The fees refund policy for candidates seeking admission in B.Tech Courses in IIIT Vadodara is as under:
                    <br>
                    1. In all cases where student has left the Institute based on the decision of JOSAA/ CSAB,
                    <hr>
                    <br>
                    <div class="uk-card uk-card-default uk-card-hover uk-padding-small">
                        <div class="uk-card-header">
                            <div class="uk-card-title">
                                Rule A
                            </div>
                        </div>
                        <div class="uk-card-body uk-text-justify">
                            (a)<strong> Tuition fee</strong> – INR 2,000/- to be charged as application processing fee. Remaining fees to be refunded.
                            <br>
                            (b)<strong> Hostel / Transport & Mess</strong> – 90% of Transport, Hostel and Mess fees to be refunded.
                            <br>
                            (c) 100% of caution money deposited be refunded.
                            <hr>
                            (a) Other Cases (Student decides to cancel admission after joining the institute/ confirming JOSAA about admission:
                            <br>
                            (i) Case 1: If all seats in the respective category are filled even after withdrawal at the end of admission process, the <strong>Rule A</strong> as mentioned above to be applicable.
                            <br>
                            (ii) Case 2: If all seats in that category are not filled due to the withdrawal of the seat at the end of admission process or withdrawal after commencement of classes, then <strong>Rule B</strong> would be applicable.
                            <br>
                        </div>
                    </div>
                    <div class="uk-card uk-card-default uk-margin-small-top uk-card-hover uk-padding-small">
                        <div class="uk-card-header">
                            <div class="uk-card-title">
                                Rule B
                            </div>
                        </div>
                        <div class="uk-card-body uk-text-justify">
                            (i)<strong> Tuition fee</strong>Since, the seat accepted and later cancelled by the candidate: 100% tuition fees including sports and cultural fees and examination fees to be forfeited.
                            <br>
                            (ii)<strong> Hostel </strong> – NIL amount to be refunded.
                            <br>
                            (iii)<strong>  Transport & Mess </strong>  – Refund of remaining calendar month.
                            <br>
                            (iv) 100% Caution money deposited be refunded.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
