{% extends 'basic/base.html' %}
{% load static %}
{% block title %}
    IIITV | B.Tech. Admissions
{% endblock %}
{% block body %}<div class="uk-container">
    <!-- Contents starts here -->
    <div class="uk-card uk-card-default uk-margin-medium-top uk-width-1-1@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Bachelor of Technology Admissions</h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>
                Admissions to the four year B.Tech. Program in both the branches (IT & CSE) of the Institute is made
                through the examination conducted by CBSE under the name and style of JEE (Main). Official Notification of this
                examination is given wide publicity through national dailies during September-December every year. The
                examination is scheduled usually in May the following year and held at several centers spread over the entire
                length and breadth of the country. Based upon the merit in the written examination, Central Counseling Board of
                JEE (Main) invites candidates for counseling at selected centers and seats for various participating
                institutions are allotted, based upon individual merit.
                <br/>
                <br/> Details about cutoffs are available at <a href="http://www.csab.nic.in/" target="_blank">CSAB website</a>. For any queries
                or details related to admissions, <a href="mailto:registrar@iiitvadodara.ac.in"> e-mail us at registrar@iiitvadodara.ac.in</a>.
                <br/>
                <br/>
                <h3>B.Tech. (CSE/IT) Fees Structure </h3>
                {% if fee_struct %}
                    {% for fee in fee_struct %}
                    <center>
                        <img src="{% static fee.fee_structure %}" style="width:100%;"/>
                    </center>
                <br /><br />
                    {% endfor %}
                {% else %}
                    Fee Structure Yet to be published
                {% endif %}
                <a href="http://iiitvadodara.ac.in/ugpolicy.php" target="_blank"></a>
            </p>
        </div>
        <div class="uk-card-footer">
            <a href="http://iiitvadodara.ac.in/ugpolicy.php" target="_blank">Fees Refund Policy</a>
        </div>
    </div>
</div>
{% endblock %}
