{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | About
{% endblock %}
{% block body %}
        <!-- Content wrapper -->
        <div class="contents-wrapper">
            <!-- Contents starts here -->
            <div class="content">
                <h2>About us</h2>
                <p>Indian Institute of Information Technology Vadodara (IIIT-V) is set up by the Ministry of Human Resource Development (MHRD), Government Of India under Public Private Partnership (PPP) model. The partners in this project are Government Of India, Government of Gujarat, Gujarat Energy Research and Management Institute, Gujarat State Fertilizers and Chemicals and Tata Consultancy Services. The Institute was established in the year 2013. DA-IICT Gandhinagar has been entrusted the responsibility of mentoring IIIT Vadodara. At present, IIIT-V is operating from its temporary premises at Government Engineering College (Gandhinagar) till the time its new campus is made operational at Vadodara, Gujarat.</p>
                <p>Indian Institute of Information Technology, Vadodara - is established to cater to the emerging needs and opportunities and meet economic challenges being thrown by the incessant IT revolution. It is setup as a Not for Profit Public Private Partnership (PPP) model. It is a major initiative taken by Government of Gujarat to harness the multifarious dimension of IT Industry. The Government of Gujarat has lent support to the Institute by providing 50 acres of land and Building. It is aimed at providing future candidates who shall become a precursor in the field of IT. A Governing Council consisting of distinguished people from academia, industry and government preside over the governance of the institute.</p>
                <p>The Institute aims at evolving strong research programmes in a plethora of areas where IT shall provide a common link with profound emphasis on development of technology and its application.</p>
            </div>
        </div>
{% endblock %}
