{% extends 'basic/base.html' %}
{% load staticfiles %}
{% block title %}
    IIIT-V | Committees
{% endblock %}
{% block body %}
<div class="uk-container uk-margin-small-top">
    {% for committee in committees %}
        <div class="uk-card uk-card-default">
            <a class="uk-link-heading" href="{% url 'committee:committee-single' committee.0 %}">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-square" width="40" height="40" src="{% static committee.2 %}" alt = "">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-card-title uk-margin-remove-bottom">{{ committee.1 }}</h4>
                    </div>
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
