{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | {{ committee_name }}
{% endblock %}
{% block body %}
<!-- Contents -->
<div class="uk-container">
        <h2 class="uk-text-center">{{ committee_name }}
            <br/><br/>
        </h2>
        {% if member_list %}
    <table class="uk-table uk-box-shadow-small uk-text-left uk-table-hover uk-table-divider">
        <thead>
            <tr align="center">
                <th class="uk-text-left">S. No.</th>
                <th class="uk-text-left">Name</th>
                <th class="uk-text-left">Designation</th>
            </tr>
        </thead>
        <tbody>
        {% for member in member_list %}
        <tr class="uk-text-left">
            <td>{{ forloop.counter }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.post }}, {{ member.origin }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
        {% else %}
            No members added yet.
        {% endif %}
</div>
{% endblock %}
