{% extends 'basic/base.html' %}
{% block title %}
    IIITV | Director's Message
{% endblock %}
{% load static %}
{% block body %}
<div class="dir-msg uk-container uk-container-expand uk-width-xxlarge@l uk-padding-remove uk-margin-small-top uk-text-small">
    <div class="uk-card uk-card-default uk-width-1-1@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-rounded uk-box-shadow-small" width="150" height="150" src="{% static 'basic/images/SKP.jpg' %}">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Director</h3>
                    <p class="uk-text-meta uk-margin-remove-top"> Prof. Sarat Kumar Patra</p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p class="uk-text-justify text-black">
                &emsp;
                It gives me great pleasure in taking up the responsibility as Director, IIIT Vadodara. Gujarat is a vibrant state with strong industrial base.
                I am sure, the industrial base will provide a strong environment to the budding talents. I seek support of all stake holders in steering the institute to a great future.
                <br/> <br> &emsp;  We have lots of work to do in multiple fronts. We have to create quality infrastructure, develop labs for academic and research activities, enhance research potential, expand the academic programs.
                Enhancement in enrollment to postgraduate studies and research will be a key factor for improving our visibility to the world. We have to achieve all these in the fast changing education system.
                <br/>Let's all work together to achieve these heights.
            </p>
        </div>
        <div class="uk-card-footer">
        </div>
    </div>
</div>
{% endblock %}
