{% extends 'basic/base.html' %}
{% block title %}
    IIITV | Senate
{% endblock %}
{% block body %}
<!-- Contents -->
<div class="contents-wrapper">
    <!-- Contents starts here -->
    <div class="content">
        <h2>Senate</h2> It is the principal academic body of the institue. It is responsible for maintenance of
        standards of instruction, education, research and examination within the institue.
        <div style="text-align: center;">
            <h4>
                <br/>
                <u>Members of Senate</u>
            </h4>
        </div>
        <table class="table table-bordered table-responsive table-hover">
            <thead>
            <tr>
                <th data-field="id">S.N.</th>
                <th data-field="name">Provision of the MoA</th>
                <th data-field="role">Nominee</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>
                    The Director of the Institute shall be the Chairperson of the Senate;
                </td>
                <td width="35%">Director, IIIT Vadodara</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Heads of all Departments, Centers, Faculties or Schools or Centers, as the case may be, comprising
                    the Institute;
                </td>
                <td>Vacant</td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    Deans In-charge of academic, research and student affairs in the Institute;
                </td>
                <td>Prof. Suman Mitra, Dean (AP)
                    <br/>Prof. Sanjeev Gupta, Dean (R&amp;D)
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    Six members from faculty from amongst the professors of the Institute to be nominated by the Board;
                </td>
                <td>Prof. Pratik Shah
                    <br/>Prof. Dhirendra Sinha
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    Three persons of eminence in education to provide an inter-disciplinary understanding to be
                    nominated by the Board;
                </td>
                <td>Dr. Surendra Prasad, IIT Delhi<br/>
                    Dr. Pandu Rangan, IIT Madras<br/>
                    Dr. Sivakumar, IIT Bombay
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    Such other persons to be nominated by the Board on the basis of statutes to provide representation
                    in such fields of knowledge or technology which are, in its opinion, not adequately represented.
                </td>
                <td>Dr. K. Kesavasamy, TCS<br/>
                    Prof. T. Harinarayana, GERMI
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
