{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | Careers
{% endblock %}
{% block body %}
        <!-- Content wrapper -->
        <div class="contents-wrapper">
            <!-- Contents starts here -->
            <div class="content career">
                <h1>Careers @ IIIT Vadodara</h1>
                <br>
                <ul class="list-group">
                    <!--<li class="list-group-item">
                        <a href="pdf/RR-placement-trg-officer.pdf" target="_blank"><h4>Advertisement for Training & Placement Officer (Contractual)</h4>
			<a href="pdf/Advt1.pdf" target="_blank">Advertisement No. IIITV/RECT/02/NONTEACHNG/SEPTEMBER/2016</a><br/>
			<a href="pdf/Advt2.pdf" target="_blank">Advertisement No. IIITV/RECT/03/NONTEACHNG/SEPTEMBER/2016</a><br/>
			<a href="pdf/Application Form.pdf" target="_blank">Application Form</a>
                    </li>-->
                   <!--<li class="list-group-item">
                        <a href="pdf/director-advt-final.pdf" target="_blank"><h4>Applications are invited for Director IIIT Vadodara</h4>
                   </li>-->
		   <li class="list-group-item">
                        <h4>Faculty</h4> Presently the Indian Institute of Information Technology, Vadodara is being mentored by <a href="http://daiict.ac.in" target="_blank">DAIICT</a>, Gandhinagar. Being the academic mentor, faculty recruitment for IIITV is also managed by DAIICT. The institute invites applications from motivated candidates with research expertise in all areas of
                        <b>Computer Science and Information Technology</b>. Suitable candidates must have a doctorate in a relevant discipline. We have openings at the levels of Assistant Professor, Associate Professor, and Professor. Visiting faculty positions are also available for short or long term visits. To apply, please submit <b>a curriculum vitae, a publication list, a one-page summary of research
                    plans, a statement of teaching interests, and the names of three references</b> (with contact information) electronically to <img src="http://iiitvadodara.ac.in/img/email/facultysearch.jpg" style="max-width: 230px;">
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}