{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | Careers
{% endblock %}
{% load static %}
{% block body %}
        <!-- Content wrapper -->
        <div class="contents-wrapper">
            <!-- Contents starts here -->
            <div class="content career">
                <h1>Careers</h1>
                <br>
                <ul class="list-group">
		   <li class="list-group-item">
                        <h4>Faculty</h4> Presently the Indian Institute of Information Technology, Vadodara is being mentored by <a href="http://daiict.ac.in" target="_blank">DAIICT</a>, Gandhinagar. Being the academic mentor, faculty recruitment for IIITV is also managed by DAIICT. The institute invites applications from motivated candidates with research expertise in all areas of
                        <b>Computer Science and Information Technology</b>. Suitable candidates must have a doctorate in a relevant discipline. We have openings at the levels of Assistant Professor, Associate Professor, and Professor. Visiting faculty positions are also available for short or long term visits. To apply, please submit <b>a curriculum vitae, a publication list, a one-page summary of research
                    plans, a statement of teaching interests, and the names of three references</b> (with contact information) electronically to <b>facultysearch@iiitvadodara.ac.in</b>.
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}