{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | Careers
{% endblock %}
{% load static %}
{% block body %}
        <!-- Content wrapper -->
        <div class="uk-container">
            <!-- Contents starts here -->
            <div class="uk-card uk-card-default uk-padding-small uk-margin-medium-top">
                <h2>Careers at IIITV</h2>
                <hr>
                <h2 class="uk-margin-small-left">Current recruitements</h2>
                {% for career in careers %}
                    <div class="uk-card uk-card-default uk-margin-medium-top uk-padding-remove uk-card-hover">
                        <a class="uk-link-heading" target="_blank" href="#modal-course-{{ career.slug }}" uk-toggle>
                            <div class="uk-card-body">
                                <div class="uk-padding-remove uk-margin-remove-bottom">
                                    <h4 class="uk-card-title uk-margin-remove-bottom">{{ career.title }}</h4>
                                </div>
                                <div class="uk-text-right uk-margin-remove uk-padding-remove">
                                    {{ career.get_end_date }}
                                </div>
                            </div>
                        </a>
                        <div id="modal-course-{{ career.slug }}" class="uk-modal-container" uk-modal>
                            <div class="uk-modal-dialog" uk-scrollspy="cls: uk-animation-slide-bottom-small; target: > div > div; delay: 100; repeat: true">
                                <button class="uk-modal-close-full uk-close-medium" type="button" uk-close></button>
                                <br>
                                <br>
                                <div class="uk-container">
                                    <div class="uk-card uk-padding-large">
                                        <h2>{{ career.title }}</h2>
                                        <hr>
                                        <h4>{{ career.description | safe }}</h4>
                                        <hr>
                                        <a href="{% static career.file %}" target="_blank">Related file</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
{% endblock %}
