{% extends 'basic/base.html' %}
{% block title %}
IIITV | Linkages
{% endblock %}
{% load static %}
{% block body %}
<div class="uk-container">
    <h2 class="uk-text-center">Linkages of IIIT Vadodara</h2>
    <div class="uk-grid-small uk-grid-margin-small" uk-grid>
        {% if link_list %}
            {% for link in link_list %}
                <div class="uk-card uk-card-default uk-grid-collapse uk-width-1-3@m uk-child-width-1-2@m uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-padding-remove uk-cover-container">
                        <img width="150" src="{% static link.logo %}" alt="">
                    </div>
                    <div class="uk-card-body uk-padding-remove-bottom">
                        <a class="uk-text-lead" href="{% url 'linkages:linkage-single' link.id %}">
                            <h3 class="uk-card-title uk-text-lead">{{ link.short_name }}</h3>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p align="center">No Linkages to display</p>
        {% endif %}

        {% if link_list.has_previous %}
            <a href="?page={{ link_list.previous_page_number }}&num_items={{num_items}}">Previous</a>
        {% endif %}

        {% if link_list.has_next %}
            <a href="?page={{ link_list.next_page_number }}&num_items={{num_items}}">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}
