{% extends 'basic/base.html' %}
{% load static %}
{% block title %}
    IIITV | {{ link.short_name }}
{% endblock %}
{% load static %}
{% block body %}
<!-- Content wrapper -->
<div class="uk-container">
    <!-- Contents starts here -->
    <div class="contents">
        <div class="uk-text-center">
            <h2>{{ link.name }}</h2>
        </div>
        <div class="uk-text-center">
            <div class="linkage-card">
                <a href="{{ link.website }}" style="text-decoration: none;" target="_blank">
                    <img class="uk-width-small" src="{% static link.logo %}" alt="Linkage">
                </a>
            </div>
        </div>
        <br/>
        {% if link.description %}
             <br/>
            <h4><b>Description:</b></h4>
            {{ link.description }}
        {% endif %}
        {% if link.address %}
        <br/>
            <h4><b>Address:</b></h4> &emsp; &emsp;{{ link.address }}
        {% endif %}
        {% if link.contact_number %}
        <br />
            <h4><b>Contact:</b></h4> &emsp; &emsp;{{ link.contact_number }}
        {% endif %}
        <br />

    </div>
</div>
{% endblock %}}