{% extends 'basic/base.html' %}
{% load static %}
{% block title %}
    IIITV | {{ link.short_name }}
{% endblock %}
{% load static %}
{% block body %}
<!-- Content wrapper -->
<div class="uk-container">
    <!-- Contents starts here -->
    <div class="uk-card uk-card-hover uk-card-default uk-padding-small uk-margin-medium-top">
        <div class="uk-text-center">
            <h2>{{ link.name }}</h2>
        </div>
        <div class="uk-text-center">
            <div class="linkage-card">
                <a href="{{ link.website }}" style="text-decoration: none;" target="_blank">
                    <img class="uk-width-small" src="{% static link.logo %}" alt="Linkage">
                </a>
            </div>
        </div>
        <hr>
        <br/>
        {% if link.description %}
            <div class="uk-card-default uk-card-hover uk-card uk-padding-small">
                <h4><b>Description:</b></h4>
                {{ link.description }}
            </div>
            <hr>
        {% endif %}
        {% if link.address %}
            <div class="uk-card-default uk-card-hover uk-card uk-padding-small">
                <h4><b>Address:</b></h4>
                {{ link.address }}
            </div>
            <hr>
        {% endif %}
        {% if link.contact_number %}
            <div class="uk-card-default uk-card-hover uk-card uk-padding-small">
                <h4><b>Contact:</b></h4>{{ link.contact_number }}
            </div>
            <hr>
        {% endif %}
        <br />

    </div>
</div>
{% endblock %}}