{% extends 'basic/base.html' %}
{% load static %}
{% block title %}
    IIIT Vadodara | DA-IICT
{% endblock %}
{% block body %}
<!-- Content wrapper -->
<div class="contents-wrapper">
    <!-- Contents starts here -->
    <div class="contents">
        <div style="text-align: center;">
            <h3>DHIRUBHAI AMBANI INSTITUTE OF INFORMATION AND COMMUNICATION TECHNOLOGY</h3>
        </div>
        <div style="text-align: center;">
            <a href="http://www.daiict.ac.in" target="_blank">
                <img class="responsive-img" src="{% static 'basic/images/daiict.jpg' %}" style="width: 250px; height:250px;">
            </a>
        </div>
        <br/>
        <br/> Dhirubhai Ambani Institute of Information and Communication Technology (DA-IICT), is a technological
        university located in Gandhinagar, Gujarat, India. It is named after the Gujarati entrepreneur and Reliance
        group founder Dhirubhai Ambani. It is run by the Dhirubhai Ambani Foundation and is promoted by the Anil
        Dhirubhai Ambani Group.
        <br/>
    </div>
</div>
{% endblock %}}