{% extends 'basic/base.html' %}
{% load static %}
{% block title %}
    IIIT Vadodara | GERMI
{% endblock %}
{% block body %}
        <!-- Content wrapper -->
        <div class="contents-wrapper">
            <!-- Contents starts here -->
            <div class="contents">
                <div style="text-align: center;">
                    <h3>GUJARAT ENERGY RESEARCH & MANAGEMENT INSTITUTE</h3>
                </div>
                <div style="text-align: center;">
                    <a href="http://www.germi.org/" target="_blank">
                        <img class="responsive-img" src="{% static 'basic/images/germi.jpg' %}" style="width: 250px; height:250px;">
                    </a>
                </div>
                <br/>
                <br/> Gujarat Energy Research & Management Institute (GERMI) is a centre of excellence in industry learning and has set up to develop human resource assets to cater to the petroleum and allied energy sectors, improve knowledge base of policy makers and technologists and provide a competitive edge to leaders to compete in the global arena.
                <br/>
            </div>
        </div>
{% endblock %}