{% extends 'basic/base.html' %}
{% load static %}
{% block title %}
    IIIT Vadodara | GFSC
{% endblock %}
{% block body %}
        <!-- Content wrapper -->
        <div class="contents-wrapper">
            <!-- Contents starts here -->
            <div class="contents" style="text-align:center;">
                <h3>GUJARAT STATE FERTILIZERS & CHEMICALS LIMITED, VADODARA</h3>
                <a href="http://www.gsfclimited.com">
                    <img class="responsive-img" src="{% static 'basic/images/gsfc.jpg' %}" style="width: 250px; height:250px;">
                </a>
            </div>
        </div>
{% endblock %}
