{% extends 'basic/base.html' %}
{% load static %}
{% block title %}
    IIIT Vadodara | TCS
{% endblock %}
{% block body %}
        <!-- Content wrapper -->
        <div class="contents-wrapper">
            <!-- Contents starts here -->
            <div class="contents" style="text-align:center;">
                <h3>TATA CONSULTANCY SERVICES</h3>
                <a href="http://www.tcs.com/"><img class="responsive-img" src="{% static 'basic/images/tcs.png' %}" style="width: 320px;"></a>
            </div>
        </div>
{% endblock %}