{% extends 'basic/base.html' %}
{% block title %}
    Gallery
{% endblock %}

{% block body %}

    <div class="row col-lg-12">
        <h1 class="page-header">"All photos"</h1>
    </div>

	{% if object_list %}
		<div class="row col-lg-12">
		    {% for photo in object_list %}
		        <a href="{{ photo.get_absolute_url }}">
		             <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
		        </a>
		    {% endfor %}
		</div>
	{% else %}
		<div class="row">"No photos were found".</div>
	{% endif %}


{% endblock %}
