{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | Building and Works Committee
{% endblock %}
{% block body %}
<!-- Contents -->
<div class="contents-wrapper">
    <!-- Contents starts here -->
    <div class="content">
        <h2 style="text-align:center">Building and Works Committee
            <br/><br/>
        </h2>
        <table class="table table-bordered table-responsive table-hover">
            <thead>
            <tr>
                <th data-field="id">S. No.</th>
                <th data-field="name">Name</th>
                <th data-field="designation">Designation</th>
            </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>Prof R. Nagaraj</td>
                <td>Chairman, Director DA-IICT</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Shri BVM Sarma</td>
                <td>Member, Vice President and Head (Infrastructure) TATA Consultancy Services</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Shri HC Modi</td>
                <td>Member, Superintending Engineer R&amp;B Circle Vadodara Government of Gujarat</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Col Ravi Chugh</td>
                <td>Member Secretary, Registrar IIIT Vadodara</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
