{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | Finance Committee
{% endblock %}
{% block body %}
<!-- Contents -->
<div class="contents-wrapper">
    <!-- Contents starts here -->
    <div class="content">
        <h2 style="text-align:center">Finance Committee
            <br/><br/>
        </h2>
        <table class="table table-bordered table-responsive table-hover">
            <thead>
            <tr>
                <th data-field="id">S. No.</th>
                <th data-field="name">Name</th>
                <th data-field="designation">Designation</th>
            </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>Prof T. Harinarayana</td>
                <td>Chairman, Director General GERMI</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Prof R. Nagaraj</td>
                <td>Member, Director DA-IICT</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Shri Manoj Rajput</td>
                <td>Member, Senior General Manager (Finance) TATA Consultancy Services</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Shri P. R. Dave</td>
                <td>Member, Joint Director DTE Government of Gujarat</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Shri Mahmood Fazal</td>
                <td>Member, DS (Fin.) (HE) MHRD Government of India</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Col Ravi Chugh</td>
                <td>Member Secretary, Registrar IIIT Vadodara</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
