{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | HR Planning Committee
{% endblock %}
{% block body %}
<!-- Contents -->
<div class="contents-wrapper">
    <!-- Contents starts here -->
    <div class="content">
        <h2 style="text-align:center">HR Planning Committee
            <br/><br/>
        </h2>
        <table class="table table-bordered table-responsive table-hover">
            <thead>
            <tr>
                <th data-field="id">S. No.</th>
                <th data-field="name">Name</th>
                <th data-field="designation">Designation</th>
            </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>Mr. Ajoyendra Mukherjee</td>
                <td>Chairperson, EVP &amp Head, Global Human Resources, TCS</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Prof R. Nagaraj</td>
                <td>Member, I/C Director</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Shri PK Chopra</td>
                <td>Member, Registrar IIT Gandhinagar</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Shri Abhay Chauhan</td>
                <td>Member, Head TCS BPS HR Gujarat</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
