{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | Research Council
{% endblock %}
{% block body %}
<!-- Contents -->
<div class="contents-wrapper">
    <!-- Contents starts here -->
    <div class="content">
        <h2 style="text-align:center">Research Council
            <br/><br/>
        </h2>
        <table class="table table-bordered table-responsive table-hover">
            <thead>
            <tr>
                <th data-field="id">S. No.</th>
                <th data-field="name">Name</th>
                <th data-field="designation">Designation</th>
            </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>Prof R. Nagaraj</td>
                <td>Chairperson, I/C Director</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Prof Sanjeev Gupta</td>
                <td>Vice Chairperson, Dean (Research) DA-IICT</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Dr. Gautam Shroff</td>
                <td>Member, TCS Innovation Labs Delhi</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Dr. Arun Rajagopalan</td>
                <td>Member, Evive Software Analytics</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Dr. B Kartikeyan</td>
                <td>Member, Space Application Centre, Ahmedabad</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Dr. Mandar Mitra</td>
                <td>Member, Indian Statistical Institute</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Col Ravi Chugh</td>
                <td>Member Secretary, Registrar IIIT Vadodara</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
