{% extends 'basic/base.html' %}
{% block title %}
    IIIT Vadodara | Senate
{% endblock %}
{% block body %}
<!-- Contents -->
<div class="contents-wrapper">
    <!-- Contents starts here -->
    <div class="content">
        <h2>Senate</h2> It is the principal academic body of the institue. It is responsible for maintenance of
        standards of instruction, education, research and examination within the institue.
        <div style="text-align: center;">
            <h4>
                <br/>
                <u>Members of Senate</u>
            </h4>
        </div>
        <table class="table table-bordered table-responsive table-hover">
            <thead>
            <tr>
                <th data-field="id">S. No.</th>
                <th data-field="name">Name</th>
                <th data-field="role">Role</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>
                    Prof R. Nagaraj,
                    <br/>Director DA-IICT
                </td>
                <td>Chairman</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Prof G Sivakumar,
                    <br/>CSE, IIT-Bombay
                </td>
                <td>Member</td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    Prof C Pandu Rangan,
                    <br/>CSE, IIT-Madras
                </td>
                <td>Member</td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    Prof Surendra Prasad,
                    <br/>IIT-Delhi
                </td>
                <td>Member</td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    Prof Suman Mitra
                    <br/>DA-IICT
                </td>
                <td>Member</td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    Prof Anish Mathuria,
                    <br/>DA-IICT
                </td>
                <td>Member</td>
            </tr>
            <tr>
                <td>7</td>
                <td>
                    Dr. K. Kesavasmy,
                    <br/>Representative, Tata Consultancy Services
                </td>
                <td>Member</td>
            </tr>
            <tr>
                <td>8</td>
                <td>
                    Shri Pratul Shroff,
                    <br/>CEO, E-Infochips
                </td>
                <td>Member</td>
            </tr>
            <tr>
                <td>9</td>
                <td>
                    Col Ravi Chugh,
                    <br/>Registrar, IIIT-Vadodara
                </td>
                <td>Secretary</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
