{% extends 'basic/base.html' %}
{% block title %}
    IIIT-V | Strategic Planning Committee
{% endblock %}
{% block body %}
<!-- Contents -->
<div class="contents-wrapper">
    <!-- Contents starts here -->
    <div class="content">
        <h2 style="text-align:center">Strategic Planning Committee
            <br/><br/>
        </h2>
        <table class="table table-bordered table-responsive table-hover">
            <thead>
            <tr>
                <th data-field="id">S. No.</th>
                <th data-field="name">Name</th>
                <th data-field="designation">Designation</th>
            </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>Prof R. Nagaraj</td>
                <td>Chairman, Director DA-IICT</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Prof Pankaj Jalote</td>
                <td>Member, Director IIIT Delhi</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Shri Parveer Saxena</td>
                <td>Member, US MHRD Government of India</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Dr. V. S. Purani</td>
                <td>Member, Joint Director, Technical Education, Government of Gujarat</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Col Ravi Chugh</td>
                <td>Member Secretary, Registrar IIIT Vadodara</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
