{% extends 'basic/base.html' %}
{% block title %}
    IIITV | {{ status }}
{% endblock %}
{% load static %}
{% block body %}
    <div class="uk-container">
        <h2 class="uk-text-center">{{ status }}</h2>
        <div class="contents-wrapper">
            <div class="content faculty-list">
                <ul>
                    {% for people in people_list %}
                        <div class="uk-card people-card uk-card-default uk-margin-medium-top uk-padding-remove uk-card-body">
                             <div class="uk-padding-remove-left uk-card-header">
                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <img class="uk-border-circle" width="200" src="{% static people.photo %}">
                                    <div class="uk-width-expand">
                                        <h3 class="uk-card-title uk-margin-remove-bottom">{{ people }}</h3>
                                        <p class="uk-text-meta uk-margin-remove-top">{{ people.get_status_display }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-card-body" style="display: inline-flex;">
                                <div class="profile-card-dashboard-details" style="margin-left: 5px;">
                                    <h5 style="margin: 0;">{{ people.academic_highlights }}</h5>
                                    <h5 style="margin: 0;">Office : {{ people.office }}</h5>
                                    <h5 style="margin: 0;">E-mail : {{ people.email }}</h5>
                                 </div>
                            </div>
                            <div class="uk-card-footer">
                                {% if people.user == user %}
                                    <a href="{% url 'dashboard:update_profile' %}" class="uk-icon-button uk-button-secondary" uk-icon="icon: file-edit"></a>
                                {% endif %}
                                <a href="{{ user.people.get_url }}" class="uk-button uk-button-text">Read more</a>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
