{% extends 'basic/base.html' %}
{% block title %}
    IIITV | {{ status }}
{% endblock %}
{% load static %}
{% block body %}
    <div class="contents-wrapper">
        <div class="row people">
            <div class="col-sm-4 pic-meta">
                <img src="{% static person.photo %}" alt="">
                <div class="meta">
                    <h3>{{ person.name }}</h3>
                    <h3>{{ person.post }}</h3>
                </div>
            </div>
            <div class="col-sm-8">
                {% if person.academic_qualifications %}
                    <h3><strong>Academic qualifications:</strong></h3>
                    <p>{{ person.academic_qualifications | safe }}</p>
                {% endif %}
                {% if person.professional_memberships %}
                    <h3><strong>Member of Professional bodies:</strong></h3>
                    <p>{{ person.professional_memberships | safe }}</p>
                {% endif %}
                {% if person.area_of_interest %}
                    <h3><strong>Areas of interest:</strong></h3>
                    <p>{{ person.area_of_interest | safe }}</p>
                {% endif %}
                {% if person.work_experience %}
                    <h3><strong>Work experience: </strong></h3>
                    <p>{{ person.work_experience | safe }}</p>
                {% endif %}
                {% if person.administrative_experience %}
                    <h3><strong>Administrative experience: </strong></h3>
                    <p>{{ person.administrative_experience | safe }}</p>
                {% endif %}
                {% if person.publications %}
                    <h3><strong>Publications: </strong></h3>
                    <p>{{ person.publications | safe }}</p>
                {% endif %}
                {% if person.teaching %}
                    <h3><strong>Teaching: </strong></h3>
                    <p>{{ person.teaching | safe }}</p>
                {% endif %}
                {% if person.other %}
                    <h3><strong>Other: </strong></h3>
                    <p>{{ person.other | safe }}</p>
                {% endif %}
                {% if person.office %}
                    <p>Office: <strong>{{ person.office }}</strong></p>
                {% endif %}
                {% if person.email %}
                    <p>Contact: <strong>{{ person.email }}</strong></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
